<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script type="text/javascript" th:src="@{/js/ajax_leaveRequest.js}"></script>
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>




<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}

.dropdown-menu {
  min-width:250px;
}



</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>

<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar" aria-label="Site sidebar">
			<div th:replace="/fragments/sidebar :: div"></div>
		</nav>
		<div class="main">
			<div th:replace="/fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title">HRMS</h1>
						<nav aria-label="breadcrumb"></nav>
					</div>
					<form action="#" th:action="@{/saveAdvertisement}" th:object="${reqAdvertisement}"	
						 method="post">
						 
						<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Employee Requisition Advertisement</h5>
										<div class="alert-outline">
											<div th:if="${message}" th:text="${message}"
												style="color: red"></div>
										</div>
									</div>

									<div class="card-body">


										
										<div class="container">
										
										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label> Advertisement Code </label>
													 <input type="text" class="form-control" 
														th:field="*{advtCode}" readonly>
												</div>
											</div>
											<div class="col-12 col-lg-6">
												<label class="form-label">Advertisement Date</label> <label
													style="color: red">*</label> <input type="date" th:field="*{advtDate}" id="theDate"
													class="form-control" >
											</div>
										</div>
										<div class="row">
											<div class="col-12 col-lg-6">
												<label class="form-label">Remarks</label>
												 <input type="text"
													class="form-control" th:field="*{remarks}"
													>
											</div>

										</div>


									</div>
									</div>
								</div>
							</div>

							<div class="col-12">
								<div class="card">
									<div class="card-header"></div>
									<div class="card-body">
										<div id="validation-step-3">
										
										<div class="col-sm-12" align="right">
												



												<a id="add_row" class="fa fa-plus" aria-hidden="true"
													style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
												<a id='delete_row' class="fa fa-trash"
													style="font-size: 24px; color: #399490fc"
													aria-hidden="true"></a>
											</div>
											
											
											<table id="example" aria-describedby="example"
												class="table table-striped display" style="width: 100%">
												<thead>
													<tr>
														<th class="text-center">Requisition Code</th>
														<th class="text-center" >Requisition Date</th>
														<th class="text-center">Media Type</th>
														<th class="text-center">Media Name<label
													style="color: red">*</label></th>
														<th class="text-center">Amount</th>
														<th class="text-center">Details</th>
														
														
													</tr>
												</thead>
												<tbody>
													<tr id="addr0">


														<td><select class="form-control" style="width:auto;" id="reqCode" name="listReqAdvertisementDetail[0].reqCode">
																<option value=" ">Select ReqCode</option>
																<option 
																th:each="employeeReq : ${listEmployeeRequisition}"
																th:text="${employeeReq.reqCode}" ></option>
																
														</select>
														
														
														</td>

														<td><input type="date" id="theDate2" class="form-control text-center"
															name="listReqAdvertisementDetail[0].reqDate"></td>


														



														<td><select class="form-control text-center" style="width:150px;" id="media" name="listReqAdvertisementDetail[0].mediaType">
																<option value=" ">Media Type</option>
																<option value="News Paper">News Paper</option>
																<option value="Cable TV">Cable TV</option>
																<option value="Magzine">Magzine</option>
																<option value="TV Channel">TV Channel</option>
																<option value="Others">Others</option>
														</select>
														</td>
														
														<td><input type="text"
															class="form-control text-center" id="mediaName" name="listReqAdvertisementDetail[0].mediaName"></td>

														<td><input type="text" class="form-control text-center"
															id="amount" name="listReqAdvertisementDetail[0].advtAmount"></td>

														<td><input type="text"
															class="form-control text-center" id="details" name="listReqAdvertisementDetail[0].remarks"></td>

														

														
													</tr>
													<tr id="addr1"></tr>



												</tbody>
													
											</table>
										</div>

									</div>

								</div>
							</div>
							&nbsp&nbsp&nbsp<button type="submit" class="btn btn-primary">Submit</button>
							&nbsp&nbsp&nbsp<button type="reset" class="btn btn-primary" value="Reset">Reset</button>


						</div>
					</form>
				</div>
				
				
				<div class="col-12">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
								<table id="example" class="table table-striped display" style="width:100%"aria-describedby="example">
										<thead>
											<tr>
												<th scope="col"> Advertisement Code </th>
												<th scope="col">Advertisement Date </th>
												<th scope="col">Remarks</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr  th:each="list : ${listReqAdvertisement}">
												<td th:text="${list.advtCode}"></td>
												<td th:text="${list.advtDate}"></td>
												<td th:text="${list.remarks}"></td>
												<td>
												<a th:href="@{editAdvertisement/{id}(id=${list.advtCode})}"><em class="align-middle fas fa-fw fa-pen"></em></a>
												<a th:href="@{/deleteAdvertisement/{id}(id=${list.advtCode})}" onclick="return confirm('Are you sure?')"><em class="align-middle fas fa-fw fa-trash"></em></a>
												
												 </td>
											</tr>
										</tbody>
									
									</table>
								</div>
								
							</div>
						</div>
						
						
			</main>
			<footer class="footer">
				<div th:replace="/fragments/footer :: div"></div>
			</footer>
		</div>
	</div>
	

	


	<script>
	
	$(document).ready(function() {
		$('#example').DataTable({
			"scrollY" : 200,
			"scrollX" : true,
			deferRender : true,
			scrollCollapse : true,

		});
	});
	
	
	
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive : true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons')
					.DataTable(
							{
								deferRender : true,
								scrollCollapse : true,
								scroller : false,
								responsive : true,
								lengthMenu : [
										[ 10, 20, 30, -1 ],
										[ '10 rows', '20 rows', '30 rows',
												'Show all' ] ],
								buttons : []
							});
			datatablesButtons.buttons().container().appendTo(
					"#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
		
		
			
		
		$(document).ready(function(){
			console.log("click function...");
			var i=1;
			counter = i;//<option value=" ">Select Requisition Code</option>
			$("#add_row").click(function(){
			$('#addr'+i).html(
					
					"<td><select id='reqCode' name='listReqAdvertisementDetail["+i+"].reqCode' class='form-control' style='width:auto;'><option value=''>Select Req Code</option><option th:each='employeeReq : ${listEmployeeRequisition}'th:text='${employeeReq.reqCode}'></option></select></td>"+
					"<td><input type='Date' id='reqDate"+i+"'name='listReqAdvertisementDetail["+i+"].reqDate'class='form-control text-center'></td>"+
					"<td><select id='mediaType'name='listReqAdvertisementDetail["+i+"].mediaType' class='form-control' style='width:150px;'>"+
					
					"<option value=''>Media Type</option><option value='News Paper'>News Paper</option><option value='Cable TV'>Cable TV</option><option value='Magzine'>Magzine</option><option value='TV Channel'>TV Channel</option><option value='Others'>Others</option></select></td>"+
					
					"<td><input type='text' style='width: 130px;'id='mediaName'name='listReqAdvertisementDetail["+i+"].mediaName' class='form-control'></td>"+
					
					"<td><input type='text' style='width: 130px;'id='advtAmount'name='listReqAdvertisementDetail["+i+"].advtAmount' class='form-control'></td>"+
					" </td><td><input type='text' style='width: 130px;'id='remarks'name='listReqAdvertisementDetail["+i+"].remarks' class='form-control'></td>"

					);

			$('#example').append('<tr id="addr'+(i+1)+'"></tr>');
			$('#_cr').val(i+1);
			i++; 
		});
			
			$("#delete_row").click(function(){
			 	 if(i>1){
					 $("#addr"+(i-1)).html('');
					 $('#_cr').val(i - 1);
					 i--;
					 }
				 });


		});

	</script>	
	
	<script>
	$(document).ready(function(){
		  var date = new Date();

		  var day = ("0" + date.getDate()).slice(-2); var month = ("0" + (date.getMonth() + 1)).slice(-2);

		  var today = date.getFullYear()+"-"+(month)+"-"+(day) ;
		  
		  $('#theDate').val(today);
		  
		});
	
	$(document).ready(function(){
		  var date = new Date();

		  var day = ("0" + date.getDate()).slice(-2); var month = ("0" + (date.getMonth() + 1)).slice(-2);

		  var today = date.getFullYear()+"-"+(month)+"-"+(day) ;
		  
		  $('#theDate2').val(today);
		  
		});

		
	</script>




</body>

</html>