<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>
<style>
body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
<body>
<div class="wrapper">
<nav id="sidebar" class="sidebar"aria-label="Site sidebar">
 <div th:replace="/fragments/sidebar :: div"></div>
 </nav>
		<div class="main">
			<div th:replace="/fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title"> Master</h1>
						<nav aria-label="breadcrumb">
						</nav>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Create City </h5>
								<div class="alert-outline">
									<div th:if="${message}" th:text="${message}" style="color: red">
									</div> 
									</div>	
								</div>
								<div class="card-body">
									<form id="validation-form" action="#" th:action="@{/saveCity}" th:object="${city}" method="post">
										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
										
											  <label> City Code </label>
											  		<label style="color: red">*</label>
											  	 
											   <input
														type="text" class="form-control" id="cityCode" name="cityCode" readonly="readonly">
												</div>

												<div class="form-group">

													<label class="form-label">Status</label>
													<div class="custom-controls-stacked">

														<label class="radio-inline"> <input type="radio"
															value="Y" name="active" checked> Active
														</label> <label class="radio-inline"> <input type="radio"
															value="N" name="active"> Inactive
														</label>

													</div>
												</div>
											</div>
											<div class="col-12 col-lg-6">
											<div class="form-group">
											<label class="form-label"> City Name</label>
											<label style="color: red">*</label>
											 <input type="text" class="form-control " pattern="^[a-zA-Z\s]*$"maxlength="20"  id="cityName" name="cityName"required aria-required="true">
										</div>
											</div>
										</div>
										<button type="submit" class="btn btn-primary">Save</button>
								 <button type="reset"class="btn btn-primary" value="Reset">Reset</button>
									</form>
								</div>
							</div>
						</div>
	      <div class="col-12">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
								<table border="1"id="datatables-buttons" class = "table table-striped table-responsive-md"aria-describedby="datatables-buttons">
										<thead>
											<tr>
												<th  scope="col"> <a th:href="@{'/page/' + ${currentPage} + '?sortField=cityCode&sortDir=' + ${reverseSortDir}}">
						                         city code</a>  </th>
												<th  scope="col">City Name </th>
												<th  scope="col">Status</th>
												<th  scope="col">Action</th>
												
											</tr>
										</thead>
										<tbody>
											<tr  th:each="listOfCity : ${listCity}">
												<td th:text="${listOfCity.cityCode}"></td>
												<td th:text="${listOfCity.cityName}"></td>
												<td th:text="${listOfCity.active}"></td>
												<td><a th:href="@{/editCity/{id}(id=${listOfCity.cityCode})}" class="btn btn-primary"><em class="fa fa-edit"></em></a>
												<a th:href="@{/deleteCity/{id}(id=${listOfCity.cityCode})}" class="btn btn-primary"onclick="return confirm('Are you sure?')"><em class="fa fa-times"></em></a>
												</td>
											</tr>
										</tbody>
									
									</table>
				<div th:if = "${totalPages>1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>

			</main>

		<footer class="footer">
		<div th:replace="/fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
	 <script>
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scroller: false,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>
		 
		
</body>
</html>