<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>


<style>


body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #676565;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 100;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>

<div class="wrapper">
<nav id="sidebar" class="sidebar">
 <div th:replace="/fragments/sidebar :: div"></div>
 </nav>
 		
		<div class="main">
		<div th:replace="/fragments/header ::div"></div>
		<main class="content">
		<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">
							Employee Details
						</h1>
						
					
					</div>
					<div class="row">
	              <div class="col-12">
		<form id="smartwizard-validation" enctype="multipart/form-data" class="wizard wizard-primary" th:action="@{/updateEmployee}" th:object="${employees}" method="post">
			<ul>
			<li><a href="#validation-step-1"><br /><small>Employee details</small></a></li>
			<li><a href="#validation-step-2"><br /><small>Department Details </small></a></li>
			<li><a href="#validation-step-3"><br /><small>Other Details1</small></a></li>
			<li><a href="#validation-step-4"><br /><small>Other Details2</small></a></li>
								</ul>
								<div>
								
                         <div id="validation-step-1">

										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label class="form-label">Emp Code <span
														class="text-danger">*</span>
													</label> <input name="empCode" type="text" id="empCode"th:value="${employeeEdit.empCode}"
														class="form-control"readonly>
												</div>
	
												<div class="form-group">
													<label class="form-label">Name <span
														class="text-danger">*</span>
													</label> <input name="empName" id="empName"type="text" th:value="${employeeEdit.empName}"
														class="form-control required">
												</div>
												<div class="form-group">
													<label class="form-label">Emp Active</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="eActive" id="eActive">
														<option value="">Select Type</option>
														<option th:value="Y" th:selected="${employeeEdit.eActive}==Y">Yes</option>
														<option th:value="N" th:selected="${employeeEdit.eActive}==N">No</option>
													</select>
												</div>
												<div class="form-group ">
													<label class="form-label">Company Code <span
														class="text-danger">*</span>
													</label> <input name="compCode" type="text" id="compCode" th:value="${employeeEdit.compCode}"
														class="form-control required">
												</div>

												<div class="form-group ">
													<label class="form-label">Date Of Birth</label> <span
														class="text-danger">*</span> <input 
														class="form-control required" type="text"id="dateOfBirth" th:value="${employeeEdit.dateOfBirth}"
														name="dateOfBirth" />

												</div>
												<div class="form-group">
													<label class="form-label">Birth State <span
														class="text-danger">*</span>
													</label> <input name="birthState" type="text"id="birthState"  th:value="${employeeEdit.birthState}"
														class="form-control required">
												</div>
												<div class="form-group">
													<label class="form-label">Birth Place <span
														class="text-danger">*</span>
													</label> <input  type="text"id="birthPlace"name="birthPlace"th:value="${employeeEdit.birthPlace}"
														class="form-control required">
												</div>
											</div>


											<div class="col-12 col-lg-6">
											<div class="form-group">
													<label class="form-label">Upload Image <span
														class="text-danger">*</span>
													</label>
													<input type="hidden" id="empImg" name="empImg" th:value="${employeeEdit.imageProfile}">
													 <input type="file" id="file" name="file" accept="image/png, image/jpeg"   onchange="preview_image(event)"/>
											     <img id="output_image"width="100px" th:src="@{'data:image/jpeg;base64,'+${imgUtil.getImgData(employeeEdit.imageProfile)}}" height="100px"style="border-radius:50%"alt="employee">
												</div>
												
												
												<div class="form-group">
													<label class="form-label">Emp Ref No. <span
														class="text-danger">*</span>
													</label> <input name="empRefNo" type="text" id="empRefNo" th:value="${employeeEdit.empRefNo}"
														class="form-control required">
												</div>
												<div class="form-group">
													<label class="form-label">Type</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="empType" id="empType">
														<option value="">Select Type</option>
														<option value="P" th:selected="${employeeEdit.empType}==P">Permanent</option>
														<option value="C" th:selected="${employeeEdit.empType}==C">Casual</option>
													</select>
												</div>
												<div class="form-group">
													<label class="form-label">Location Type</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="locationType" id="locationType">
														<option value="">Select Type</option>
														<option value="C" th:selected="${employeeEdit.locationType}==C">Company</option>
														<option value="G" th:selected="${employeeEdit.locationType}==G">Govt Office</option>
													</select>
												</div>

												<div class="form-group ">
													<label class="form-label">Weekly Working Days <span
														class="text-danger">*</span>
													</label> <input name="weeklyWorkingDay" type="text"id="weeklyWorkingDay"th:value="${employeeEdit.weeklyWorkingDay}"
														class="form-control required">
												</div>

												

												<div class="form-group">
													<label class="form-label">Domicile <span
														class="text-danger">*</span>
													</label> <input name="domicile" type="text"id="domicile"th:value="${employeeEdit.domicile}"
														class="form-control required">
												</div>

											</div>
										</div>
									</div>
									
                         <div id="validation-step-2">
									<div class="row">
										<div class="col-12 col-lg-6">
										<div class="form-group">
											<label class="form-label">Card No.    
												<span class="text-danger">*</span>
											</label>
											<input  type="text" class="form-control required" name="cardNo" id="cardNo" th:value="${employeeEdit.cardNo}">
										</div>
										
										
										<div class="form-group">
											<label class="form-label">Designation
												<span class="text-danger">*</span>
											</label>
											<input  type="text" class="form-control required"  name="empDesignation"id="empDesignation"  th:value="${employeeEdit.empDesignation}">
										</div>
										
										<div class="form-group">
											<label class="form-label">Shift Code.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" class="form-control required" name="shiftCode" id="shiftCode" th:value="${employeeEdit.shiftCode}">
										</div>
										
										
										
										<div class="form-group ">
											<label class="form-label">Passport No.
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control required"  name="passportNo"  id="passportNo" th:value="${employeeEdit.passportNo}" >
										</div>
										
										
										 <div class="form-group ">
												<label class="form-label">LOI</label>
												<span class="text-danger">*</span>
												<input  type="text" id="loiDate" name="loiDate" th:value="${employeeEdit.loiDate}" class="form-control required">
											
										</div>
								
										 <div class="form-group ">
												<label class="form-label"> Status Date</label>
												<span class="text-danger">*</span>
												<input  type="text"  class="form-control required" name="statusDate"id="statusDate" th:value="${employeeEdit.statusDate}">
										</div>
									
										<div class="form-group">
										<div class="card">
								       			 <div class="card-header">
									   			 <h5 class="card-title mb-0">Reason</h5>
								           		</div>
								        <div class="card-body">
											<textarea class="form-control required" rows="2"id="reason" name="reason"th:text="${employeeEdit.reason}" placeholder="Textarea"></textarea>
								       	</div>
							           </div>
							           </div>
										</div>
										
									
									<div class="col-12 col-lg-6">
											<div class="form-group">
											<label class="form-label">Department Code.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" name="departmentCode"id="departmentCode" 	th:value="${employeeEdit.departmentCode}" class="form-control required">
										</div>
										
										
										<div class="form-group">
											<label class="form-label">Manager  Code.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" name="managerCode" id="managerCode"th:value="${employeeEdit.managerCode}" class="form-control required">
										</div>
								
								
									<div class="form-group">
											<label class="form-label">IT Pan No
												<span class="text-danger">*</span>
											</label>
											<input type="text" name="itPanNo"id="itPanNo" 	th:value="${employeeEdit.itPanNo}" class="form-control required">
										</div>
								
								
									<div class="form-group">
											<label class="form-label">UAN  No.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" name="uanNo" id="uanNo" 	th:value="${employeeEdit.uanNo}" class="form-control required">
										</div>
								
								 
											
									    <div class="form-group ">
												<label class="form-label">Date Of Joining</label>
												<span class="text-danger">*</span>
												<input  type="text" name="dateOfJoining" id="dateOfJoining" 	th:value="${employeeEdit.dateOfJoining}" class="form-control required">
											
										</div>
										
										 <div class="form-group ">
												<label class="form-label"> Leaving Date </label>
												<span class="text-danger">*</span>
												<input class="form-control required" type="text" name="leavingDate" id="leavingDate" th:value="${employeeEdit.leavingDate}" >
										</div>
								</div>	
						   </div>
						</div>

                         <div id="validation-step-3">
											
										   <div class="form-row">
												<div class="form-group sm col-md-4">
												<label for="inputSex">Gender
												<span class="text-danger">*</span>
												</label>
												<select id="empGender"name="empGender" class="form-control required">
													<option selected>Choose...Your Gender </option>
													<option  value="Male" th:selected="${employeeEdit.empGender}==Male">Male</option>
														<option value="Female" th:selected="${employeeEdit.empGender}==Female">Female</option>
												</select>
											   </div>
											    <div class="form-group sm col-md-4">
												<label for="inputHieght">Height
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" name="empHeight" id="empHeight" 	th:value="${employeeEdit.empHeight}">
											</div>
											    <div class="form-group col-md-4">
												<label for="identiMark">identity Mark
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" Name="identityMark" id="identityMark" 	th:value="${employeeEdit.identityMark}">
											</div>
										 </div>
										<div class="form-row">
										    	<div class="form-group col-md-4">
												<label for="bloodGroup">Blood Group
												<span class="text-danger">*</span>
												</label> <input
													type="text" class="form-control required"  id="bloodGroup"  name="bloodGroup"	th:value="${employeeEdit.bloodGroup}">
											</div>
											    <div class="form-group col-md-4">
												<label for="maritalStatus:">Marital Status
												<span class="text-danger">*</span>
												</label> <select
													id="maritalStatus" 	Name="maritalStatus" class="form-control required">
													<option selected> Marital Status</option>
													<option  value="Single" th:selected="${employeeEdit.maritalStatus}==Single">Single</option>
													<option  value="Married" th:selected="${employeeEdit.maritalStatus}==Married">Married</option>
												</select>
											</div>
											    <div class="form-group col-md-4">
												<label for="preDisease">Pre Disease
												<span class="text-danger">*</span>
												</label> <select
													id="preDisease"  name="preDisease"  class="form-control required">
													<option selected>Choose..Your Disease</option>
													<option value="Yes" th:selected="${employeeEdit.preDisease}==Yes">Yes</option>
													<option value="No" th:selected="${employeeEdit.preDisease}==No">No</option>
												</select>
											</div>
										 </div>
										
										<div class="form-row">
											<div class="form-group col-md-4">
											<label for="weddingDate">Wedding Date
											<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control required"id="weddingDate" name="weddingDate" 	th:value="${employeeEdit.weddingDate}">

											</div>
											<div class="form-group col-md-4">
												<label for="noChild">No. Child
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="noOfChild" name="noOfChild" th:value="${employeeEdit.noOfChild}">
											</div>
											<div class="form-group col-md-4">
												<label for="caste">Caste
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="empCaste" name="empCaste" th:value="${employeeEdit.empCaste}">
											</div>
										</div>
							
							                <div class="form-row">
										   <div class="form-group col-md-4">
												<label for="religion">Religion
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="empReligion" name="empReligion" th:value="${employeeEdit.empReligion}">
											</div>
							               <div class="form-group col-md-4">
												<label for="nationality">Nationality
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="empNationality" name="empNationality" th:value="${employeeEdit.empNationality}">
											</div>
										   <div class="form-group col-md-4">
												<label for="companyCode">Company Code
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required"  name="companyCode" id="companyCode" th:value="${employeeEdit.companyCode}">
											</div>
							     		   </div>
							     			 
							     			 
							                <div class="form-row">
							                 <div class="form-group col-md-4">
												<label for="mediclaim">Mediclaim
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="mediclaim" name="mediclaim" th:value="${employeeEdit.mediclaim}">
											</div>
											<div class="form-group col-md-4">
												<label for="gpa">GPA
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="gpa"  name="gpa" th:value="${employeeEdit.gpa}">
											</div>
							        		<div class="form-group col-md-4">
												<label for="Emp_Address1">Address1<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empAddress1" name="empAddress1" th:value="${employeeEdit.empAddress1}">
												</div>
											</div>
											
											<div class="form-row">
											 <div class="form-group col-md-4">
												<label for="Emp_Address2">Address2<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="empAddress2" name="empAddress2" th:value="${employeeEdit.empAddress2}">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_City">City<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="empCity"  name="empCity" th:value="${employeeEdit.empCity}">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_State">State<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="empState" name="empState" th:value="${employeeEdit.empState}">
											</div>
											</div>
											
											
											 <div class="form-row">
											<div class="form-group col-md-4">
											<label for="Pin_Code">PinCode<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="pinCode"name="pinCode" th:value="${employeeEdit.pinCode}">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Mobile">Mobile<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="empMobile" name="empMobile" th:value="${employeeEdit.empMobile}">
											</div>
											<div class="form-group col-md-4">
												<label for="Emp_Local_Add1">Local Address1
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalAdd1" name="empLocalAdd1" th:value="${employeeEdit.empLocalAdd1}">
											</div>
							       
							                </div>
							                
                          				    <div class="form-row">
											 <div class="form-group col-md-4">
												<label for="Emp_Local_Add2">Local Address2
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalAdd2" name="empLocalAdd2" th:value="${employeeEdit.empLocalAdd2}">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Local_City">City
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalCity" name="empLocalCity" th:value="${employeeEdit.empLocalCity}" >
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Local_State">State
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalState" name="empLocalState" th:value="${employeeEdit.empLocalState}">
											</div>
											</div>
											
											
											
											  <div class="form-row">
											 <div class="form-group col-md-4">
												<label for="Emp_Local_PinCode">PinCode
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalPinCode"  name="empLocalPinCode"  th:value="${employeeEdit.empLocalPinCode}">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Local_Mobile_No">Mobile<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalMobileNo" name="empLocalMobileNo"  th:value="${employeeEdit.empLocalMobileNo}">
											</div>
							                </div>
                     
                        </div>
                     
                         <div id="validation-step-4">
                     
                         	               <div class="form-row">
									        <div class="form-group col-md-4">
											<label for="Comp_Mobile_No">Company Mobile No
											<span class="text-danger">*</span></label>
											<input type="text" class="form-control required" id="compMobileNo" name="compMobileNo" th:value="${employeeEdit.compMobileNo}">
											</div>
											
									<div class="form-group col-md-4">
										<label for="Company_Email">Email
										<span class="text-danger">*</span></label>
										<input type="text" class="form-control required" id="companyEmail" name="companyEmail"  th:value="${employeeEdit.companyEmail}">
										</div>
										
									 <div class="form-group col-md-4">
										 <label for="Prof_Inst">Prof Inst
										<span class="text-danger">*</span></label>
										<input type="text" class="form-control required" id="profInst" name="profInst" th:value="${employeeEdit.profInst}">
										</div>
							       </div>
                                 		   <div class="form-row">
                                           
                                           <div class="form-group col-md-4">
												<label for="Local_Travel_Pr_km">Local Travelling Rate Per KM  
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="localTravelPrkm" name="localTravelPrkm" th:value="${employeeEdit.localTravelPrkm}">
											</div>
											 
											 <div class="form-group col-md-4">
												<label for="hobbies">Hobbies
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="hobbies" name="hobbies" th:value="${employeeEdit.hobbies}">
											</div>
											
											 <div class="form-group col-md-4">
												<label for="clubs">Clubs<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="clubs" name="clubs" th:value="${employeeEdit.clubs}">
											</div>
                     
                                </div>
                     			           <div class="form-row">
                                      	  <div class="form-group col-md-6">
												<label for="Reg_Code">Registration code
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="regCode" name="regCode" th:value="${employeeEdit.regCode}">
											</div>
											
											
											
										 	<div class="form-group col-md-6">
												<label for="Estf_Work ">Estf Work
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="estfWork" name="estfWork" th:value="${employeeEdit.estfWork}">
												</div>
                     
                                 </div>
                                           <div class="form-row">
                                           <div class="form-group col-md-6">
												    <label for="E_Emp_Cat">eEmp_Cat
												    <span class="text-danger">*</span></label> 
												    <select id="electronicEmpCat" name="electronicEmpCat" class="form-control required">
													<option selected> Category</option>
													<option th:value="Permanent" th:selected="${employeeEdit.electronicEmpCat}==Permanent">Permanent </option>
													<option th:value="Temporary" th:selected="${employeeEdit.electronicEmpCat}==Temporary">Temporary </option>
											     	</select>
											 </div>
                                               		  
                                               	
											 <div class="form-group col-md-6">
												<label for="electronicCategory ">E-Category
												<span class="text-danger">*</span>
												 </label>
												<input type="text" class="form-control required" id="electronicCategory" name="electronicCategory" th:value="${employeeEdit.electronicCategory}">
											</div>
                                               </div>
                                           <div class="form-group">
											<label  class="custom-control custom-checkbox required">
											
												<input type="checkbox" class="custom-control-input" id=empAgree name="empAgree" th:checked="${employeeEdit.empAgree}">
												<span class="custom-control-label">I agree with the Terms and Conditions</span>
											</label>
										</div>
										
										<button type="submit" class="btn btn-primary">Save</button>
									   <button type="submit"class="btn btn-primary" value="cancel">Cancel</button>
                     
                     </div>
                     
                     
                     
                     
								</div>
	</form>
			</div>
				
						
						
					</div>

				</div>
		</main>
		<footer class="footer">
		<div th:replace="/fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
	<script>
		$(function() {
			
			
		$("input[name='dateOfBirth']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});

		$("input[name=\"loiDate\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
		
			$("input[name=\"dateOfJoining\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
			$("input[name=\"statusDate\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
			$("input[name=\"leavingDate\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
			
			$("input[name=\"weddingDate\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scroller: false,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
		
	</script>
	
		<script>
		$(function() {
			$("#smartwizard-default-primary").smartWizard({
				theme: "default",
				showStepURLhash: false
			});

			
			// Validation
			var $validationForm = $("#smartwizard-validation");
			$validationForm.validate({
				errorPlacement: function errorPlacement(error, element) {
					$(element).parents(".form-group").append(
						error.addClass("invalid-feedback small d-block")
					)
				},
				highlight: function(element) {
					$(element).addClass("is-invalid");
				},
				unhighlight: function(element) {
					$(element).removeClass("is-invalid");
				},
				rules: {
					"wizard-confirm": {
						equalTo: "input[name=\"wizard-password\"]"
					}
				}
			});
			$validationForm.smartWizard({
					autoAdjustHeight: false,
					backButtonSupport: false,
					useURLhash: false,
					showStepURLhash: false,
					
				})
				.on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
					if (stepDirection === "forward") {
						return $validationForm.valid();
					}
					return true;
				});
			/* $validationForm.find(".btn-submit").on("click", function() {
				if (!$validationForm.valid()) {
					return;
				}
				
				return false;
			}); */
		});
	</script>
	<script type='text/javascript'>
function preview_image(event) 
{
 var reader = new FileReader();
 reader.onload = function()
 {
  var output = document.getElementById('output_image');
  output.src = reader.result;
 }
 reader.readAsDataURL(event.target.files[0]);
}
</script>
<script>

  $('#loading').show();
  $.ajax({
      // Other ajax parameters
      success: function () {
         // hiding the image here
         debugger;
         $('#loading').hide();
      }
  });
  
</script>	
</body>
</html>