<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>


<style>


body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #676565;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 100;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
 
<body>

<div class="wrapper">
<nav id="sidebar" class="sidebar">
 <div th:replace="/fragments/sidebar :: div"></div>
 </nav>
 		
		<div class="main">
		<div th:replace="/fragments/header ::div"></div>
		<main class="content">
		<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">
							Update Employee Details
						</h1>
						
					
					</div>
					<div class="row">
	              <div class="col-12">
		<form id="smartwizard-validation" enctype="multipart/form-data" class="wizard wizard-primary" th:action="@{/updateEmployee}" th:object="${employees}" method="post">
					<ul>
			<li><a href="#validation-step-1"><br /><small>Officer Details</small></a></li>
			<li><a href="#validation-step-2"><br /><small>Other Details </small></a></li>
			<li><a href="#validation-step-3"><br /><small>Arm Licence  Details</small></a></li>

								</ul>
								<div>
								
                         <div id="validation-step-1">
											
										<div class="form-row">
												<div class="form-group sm col-md-4">
												
													<label class="form-label">Employee Code <span
														class="text-danger">*</span>
													</label> <input name="empCode" type="text" id="empCode"th:value="${employeeEdit.empCode}"
														class="form-control"readonly>
												</div>
												  <div class="form-group sm col-md-4">
											       <label class="form-label">Name
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="empName"name="empName" title="Name"th:value="${employeeEdit.empName}" class="form-control required">
										     </div>
	                                        <div class="form-group sm col-md-4">
													<label class="form-label">Employee Payee Code. <span
														class="text-danger">*</span>
													</label> <input name="employeePayeeCode" type="text" id="employeePayeeCode"th:value="${employeeEdit.employeePayeeCode}"  title="Employee Payee Code." maxlength="20" 
														class="form-control required">
												</div>
												
										
												</div>
												<div class="form-row">
											<div class="form-group sm col-md-4">
												        <label class="form-label">Department</label>
												         <label style="color: red">*</label>
												<select class="form-control select2" name="departmentCode"id="departmentCode" required aria-required="true">
												 <option value="">Select Department</option>
												<option th:each="dep :${listDepartment}" th:value="${dep.getDepartmentCode()}" th:text="${dep.getDeptName()}"th:field="${employeeEdit.departmentCode}"></option>
											    </select>
											</div>
											
											 <div class="form-group sm col-md-4">
													<label class="form-label">Category</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="categoryCode" id="categoryCode">
														<option value="">Select Category</option>
														<option th:each="cat :${listCategory}" th:value="${cat.getCategoryCode()}" th:text="${cat.getCategoryName()}"th:field="${employeeEdit.categoryCode}"></option>
														
													</select>
												  </div>
												  <div class="form-group sm col-md-4">
													<label class="form-label">Designation</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="designationCode" id="designationCode">
														<option value="">Select Type</option>
														<option th:each="des :${listDesignation}"th:value="${des.getDesgCode()}" th:text="${des.getDesgName()}"th:field="${employeeEdit.designationCode}"></option>
													</select>
												</div>
												</div>
												
			
											
											<div class="form-row">
									        
											<div class="form-group sm col-md-4">
													<label class="form-label">Type</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="typeCourtDepartment" id="typeCourtDepartment">
														<option value="">Select Type</option>
														<option value="C" th:selected="${employeeEdit.typeCourtDepartment}==C">Court</option>
														<option value="D" th:selected="${employeeEdit.typeCourtDepartment}==D">Department</option>
													</select>
												</div>
												  <div class="form-group sm col-md-4">
											       <label class="form-label">Date of Birth</label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="empDob"name="empDob"th:value="${employeeEdit.empDob}"  class="form-control required">
											      </div>
												<div class="form-group sm col-md-4">
												<label class="form-label">Date Of Joining</label>
												<span class="text-danger">*</span>
												<input  type="text" id="dateOfJoining" name="dateOfJoining"th:value="${employeeEdit.dateOfJoining}" class="form-control required">
										          </div>	
												
												
								
												</div>
										<div class="form-row">
												<div class="form-group sm col-md-4">
													<label class="form-label">Date  Of Posting </label> <span
														class="text-danger">*</span> <input 
														class="form-control required" type="text"id="dateOfPosting"th:value="${employeeEdit.dateOfPosting}"
														name="dateOfPosting" />

												</div>
												<div class="form-group sm col-md-4">
													<label class="form-label">Present Posting <span
														class="text-danger">*</span>
													</label> <input name="presentPosting" type="text"id="presentPosting" th:value="${employeeEdit.presentPosting}" title="Present Posting"
														class="form-control required">
												</div>
												<div class="form-group sm col-md-4">
													<label class="form-label">Batch Year</label> <span
														class="text-danger">*</span> 
														<input class="form-control required" type="text"id="batchYear"name="batchYear"th:value="${employeeEdit.batchYear}"/>
												</div>
												</div>
												
											<div class="form-row">
										<div class="form-group sm col-md-4">
											       <label class="form-label">Pan No
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="panNo"name="panNo" title="Pan No" th:value="${employeeEdit.panNo}"class="form-control required">
										     </div>
												<div class="form-group sm col-md-4">
											         <label class="form-label">UAN
											          <span class="text-danger">*</span></label>
							                         <input  type="text"id="uan"name="uan" maxlength="15"title="uan"th:value="${employeeEdit.uan}" class="form-control required">
										            </div>
										     
												  <div class="form-group sm col-md-4">
											       <label class="form-label">Aadhar No
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="aadharNo"name="aadharNo" th:value="${employeeEdit.aadharNo}"title="Aadhar No" class="form-control required">
										     </div>
													
													
											
												</div>
													<div class="form-row">
													<div class="form-group sm col-md-4">
													<label class="form-label">Vigilance Inquiry</label> 
													 <input class="form-control"  type="text"name="vigilanceQuery" id="vigilanceQuery"th:value="${employeeEdit.vigilanceQuery}">
														
												</div>
													<div class="form-group sm col-md-4">
													<label class="form-label">Suspension </label> 
													 <input  type="text" class="form-control" name="suspention" id="suspention"th:value="${employeeEdit.suspention}">
														
												</div>
												
												<div class="form-group sm col-md-4">
													<label class="form-label">Date  Of Retirement</label> <span
														class="text-danger">*</span> <input 
														class="form-control required" type="text"id="dateOfRetirement"th:value="${employeeEdit.dateOfRetirement}"
														name="dateOfRetirement" />

												</div>
													</div>
													<div class="form-row">
													
													<div class="form-group sm col-md-4">
													<label class="form-label">VRS 
													</label> <input name=vrs type="text" id="vrs" maxlength="50" th:value="${employeeEdit.vrs}"
														class="form-control">
												    </div>
												  
												    
												    
                                             	<div class="form-group sm col-md-4">
													<label class="form-label">Upload Image
													</label>
													<input type="hidden" id="imageProfile" name="imageProfile" >
													 <input type="file" id="file" name="file" accept="image/png, image/jpeg"   onchange="preview_image(event)"/>
											     <img id="output_image"width="100px" th:src="@{'data:image/jpeg;base64,'+${imgUtil.getImgData(employeeEdit.imageProfile)}}" height="100px"style="border-radius:50%"alt="employee">
												</div>
												
												
									     </div>

										
									
						          	</div>
						<div id="validation-step-2">
									<div class="form-row">
										<div class="form-group sm col-md-4">
											<label class="form-label">Transfer
										
												</label>
							                   <input  type="text"id="transfer"name="transfer" title="Transfer"th:value="${employeeEdit.Transfer}" maxlength="30"class="form-control">
										</div> 
										<div class="form-group sm col-md-4">
											<label class="form-label">Order No.
											
												</label>
							           <input  type="text"id="orderNo"name="orderNo"th:value="${employeeEdit.orderNo}" title="Order No." class="form-control">
										</div>
										 <div class="form-group sm col-md-4">
												<label class="form-label">Order Date</label>
												
												<input  type="date" id="orderDate" name="orderDate"th:value="${employeeEdit.orderDate}" class="form-control">
										          </div>
									               </div>
										
											
											<div class="form-row">
											<div class="form-group sm col-md-4">
													<label class="form-label">Under Rule 7</label>
													 <select class="form-control" name="underRule7" id="underRule7">
														<option value="">Select Type</option>
														<option value="Y"th:selected="${employeeEdit.underRule7}==Y">YES</option>
														<option value="N" th:selected="${employeeEdit.underRule7}==N">NO</option>
														
													</select>
												</div>
												<div class="form-group sm col-md-4">
													<label class="form-label">Under Rule 8</label> 
													 <select class="form-control" name="underRule8" id="underRule8">
														<option value="">Select Type</option>
														<option value="Y"th:selected="${employeeEdit.underRule8}==Y">YES</option>
														<option value="N"th:selected="${employeeEdit.underRule8}==N">NO</option>
														
													</select>
												</div>
													<div class="form-group sm col-md-4">
											       <label class="form-label">Qualification
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="qualification"name="qualification" th:value="${employeeEdit.qualification}"title="Qualification" class="form-control required">
										     </div>
													
											</div>
													<div class="form-row">
											  <div class="form-group sm col-md-4">
											       <label class="form-label">Email
											      </label>
							                 <input  type="text"id="email"name="email" title="Email"th:value="${employeeEdit.email}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"class="form-control">
										     </div>
										       	<div class="form-group sm col-md-4">
													<label class="form-label">Gender</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="gender" id="gender">
														<option value="">Select Type</option>
														<option value="M"th:selected="${employeeEdit.gender}==M">MALE</option>
														<option value="F"th:selected="${employeeEdit.gender}==F">FEMALE</option>
														
													</select>
												</div>
										     <div class="form-group sm col-md-4">
													<label class="form-label">Martial Status</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="martialStatus" id="martialStatus">
														<option value="">Select Type</option>
														<option value="M"th:selected="${employeeEdit.martialStatus}==M">MARRIED</option>
														<option value="U"th:selected="${employeeEdit.martialStatus}==U">UNMARRIED  </option>
														
													</select>
												</div>
										     
												
												  	
											</div>
											
										
											
											
											<div class="form-row">
										
										     
										     <div class="form-group sm col-md-4">
											       <label class="form-label">Primary  Mobile Number
											       </label>
							                 <input  type="text"id="mobileNumber1"name="mobileNumber1"th:value="${employeeEdit.mobileNumber1}" title="Mobile Number" class="form-control">
										     </div>
										     
										     
										     <div class="form-group sm col-md-4">
											       <label class="form-label">Mobile Number
											       </label>
							                 <input  type="text"id="mobileNumber2"name="mobileNumber2"th:value="${employeeEdit.mobileNumber2}" title="Mobile Number2" class="form-control">
										     </div>
											    <div class="form-group sm col-md-4">
											       <label class="form-label">Telephone No
											      </label>
							                 <input  type="text"id="telephone"name="telephone" th:value="${employeeEdit.telephone}"title="Telephone No"maxlength="12" class="form-control ">
										     </div>
											</div>
												<div class="form-row">
											<div class="form-group sm col-md-4">
											       <label class="form-label">Add Charge </label>
							                 <input  type="text"id="addCharge"name="addCharge" th:value="${employeeEdit.addCharge}"title="Add Charge" class="form-control ">
										     </div>
										      	<div class="form-group sm col-md-4">
													<label class="form-label">On Additional Charge</label> 
													<select class="form-control" name="onAdditionalCharge" id="onAdditionalCharge">
														<option value="">Select Type</option>
														<option value="YES"th:selected="${employeeEdit.onAdditionalCharge}==YES">YES</option>
														<option value="NO"th:selected="${employeeEdit.onAdditionalCharge}==NO">NO</option>
														
													</select>
												</div>
												 <div class="form-group sm col-md-4">
											       <label class="form-label">Leave Account</label>
											      <input  type="text"id="leaveAccount"name="leaveAccount"th:value="${employeeEdit.leaveAccount}"maxlength="250" title="Ltc"class="form-control " >
											      </div>
												 	
											</div>
											
											
									
											
											 <div class="form-row">
											  <div class="form-group sm col-md-4">
											       <label class="form-label">City 
											       <span class="text-danger">*</span></label>
										             <select
														class="form-control required" name="cityCode" id="cityCode">
															<option value="">Select City</option>
														<option th:each="lc :${CityList}" th:value="${lc.getCityCode()}" th:text="${lc.getCityName()}"th:field="${employeeEdit.cityCode}"></option>
													
													 </select> 
										   
										     </div>
											   
											  
											    <div class="form-group sm col-md-4">
											       <label class="form-label">State 
											       <span class="text-danger">*</span></label>
										              <select
														class="form-control required" name="stateCode" id="stateCode">
														<option value="">Select State</option>
														<option  th:each="ls :${listState}"th:value="${ls.getStateCode()}" th:text="${ls.getStateName()}"th:field="${employeeEdit.stateCode}"></option>
														
													 </select> 
										    
										     </div>
										     <div class="form-group sm col-md-4">
											       <label class="form-label">Country 
											       <span class="text-danger">*</span></label>
										              <select
														class="form-control required" name="countryCode" id="countryCode">
														<option value="">Select Country</option>
														<option th:each="lco :${listCountry}" th:value="${lco.getCountryCode()}" th:text="${lco.getCountryName()}"th:field="${employeeEdit.countryCode}"></option>
														
													 </select> 
										     </div>
											  
										      
											  </div>
										  <div class="form-row">
											  <div class="form-group sm col-md-4">
											       <label class="form-label">Primary Address
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="address1"name="address1"th:value="${employeeEdit.address1}" title="Address" class="form-control required">
										     </div>
										     
										      <div class="form-group sm col-md-4">
											       <label class="form-label">Address
											       </label>
							                 <input  type="text"id="address2"name="address2"th:value="${employeeEdit.address2}" title="Address" class="form-control">
										     </div>
										      
										       <div class="form-group sm col-md-4">
											       <label class="form-label">Pin Code
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="pinCode"name="pinCode"maxlength="6" th:value="${employeeEdit.pinCode}"title="Pin Code" class="form-control required">
										     </div>
											</div>
						
											  
											   <div class="form-row">
											     <div class="form-group sm col-md-4">
											      <label class="form-label">Promotion</label>
											      <input  type="text"id="promotion"name="promotion"th:value="${employeeEdit.promotion}" maxlength="250" title="Promotion" class="form-control ">
											     </div>
											      <div class="form-group sm col-md-4">
											      <label class="form-label">ACP</label>
											      <input  type="text"id="acp"name="acp" title="Acp"th:value="${employeeEdit.acp}"maxlength="250" class="form-control ">
											     </div>
											      <div class="form-group sm col-md-4">
											      <label class="form-label">APR</label>
											      <input  type="text"id="apr"name="apr" th:value="${employeeEdit.apr}"maxlength="250"title="Apr"class="form-control " >
											     </div>
											     
											      </div>
											       <div class="form-row">
											      <div class="form-group sm col-md-4">
											      <label class="form-label">ACR</label>
											      <input  type="text"id="acr"name="acr"th:value="${employeeEdit.acr}" title="Acr" maxlength="250"class="form-control ">
											      </div>
											      <div class="form-group sm col-md-4">
											      <label class="form-label">Training</label>
											      <input  type="text"id="training"name="training"th:value="${employeeEdit.training}" maxlength="250"title="Training"class="form-control " >
											     </div>
											      <div class="form-group sm col-md-4">
											      <label class="form-label">LTC</label>
											      <input  type="text"id="ltc"name="ltc" th:value="${employeeEdit.ltc}"title="" maxlength="250"class="form-control ">
											       </div>
											      </div>
											       <div class="form-row">
											      
											       <div class="form-group sm col-md-4">
											       <label class="form-label">Awards</label>
											      <input  type="text"id="empAwards"name="empAwards"th:value="${employeeEdit.empAwards}"maxlength="250" title="Awards"class="form-control " >
											     </div>
											      <div class="form-group sm col-md-4">
											      <label class="form-label">On Deputation</label>
											       <select onchange="changetextbox();"
														class="form-control " name="onDeputation" id="onDeputation">
														<option value="">Select Type</option>
														<option value="Y"th:selected="${employeeEdit.onDeputation}==Y">YES</option>
														<option value="N"th:selected="${employeeEdit.onDeputation}==N">NO</option>
													</select>
											      </div>
											       <div class="form-group sm col-md-4">
											        <label class="form-label">Deputation</label>
											       <input  type="text"id="empDeputation"name="empDeputation"th:value="${employeeEdit.empDeputation}"maxlength="250" title="Deputation"class="form-control " >
											       </div>
											      </div>
											      
											       <div class="form-row">
											       
											        <div class="form-group sm col-md-4">
											        <label class="form-label">Previous Postings</label>
											       <input  type="text"id="previousPostings"name="previousPostings"th:value="${employeeEdit.previousPostings}"maxlength="250" title="Previous Postings"class="form-control " >
											       </div>
											       <div class="form-group sm col-md-4">
											       <label class="form-label">Expired</label>
											     <select
														class="form-control " name="expired" id="expired">
														<option value="">Select Type</option>
														<option value="Y"th:selected="${employeeEdit.expired}==Y">YES</option>
														<option value="N"th:selected="${employeeEdit.expired}==N">NO</option>
														
													</select>
											     
											      </div>
											      </div>

									</div>


						<div id="validation-step-3">
				
									  <div class="form-row">
									  
									   <div class="form-group sm col-md-4">
											   <label class="form-label">Arms Code   </label>
											      
							                 <input  type="text"id="armsCode"name="armsCode" th:value="${armsLicenseEdit.armsCode}" class="form-control"readonly>
										     </div>
									   <div class="form-group sm col-md-4">
											       <label class="form-label"> Name
											       </label>
							                 <input  type="text"id="name"name="name" maxlength="40"title=" Name" th:value="${armsLicenseEdit.name}" pattern="^[a-zA-Z\s]*$"class="form-control">
										     </div>
									  
										       <div class="form-group sm col-md-4">
											       <label class="form-label">Father Name
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="fatherName"name="fatherName" title="Father Name"th:value="${armsLicenseEdit.fatherName}" class="form-control">
										     </div>
										     
									  </div>
									   <div class="form-row">
									   <div class="form-group sm col-md-4">
											       <label class="form-label">City District
											       </label>
							                 <input  type="text"id="district"name="district"th:value="${armsLicenseEdit.district}"  title="District" class="form-control required">
										     </div>
										       <div class="form-group sm col-md-4">
											       <label class="form-label">State
											       </label>
							                 <input  type="text"id="state"name="state"th:value="${armsLicenseEdit.state}"  title="State" class="form-control required">
										     </div>
										     <div class="form-group sm col-md-4">
											       <label class="form-label">Address
											     </label>
							                 <input  type="text"id="addressArms"name="addressArms"th:value="${armsLicenseEdit.addressArms}"  title="Address" class="form-control required">
										     </div> 
										     
									  
									   </div> 
									  
									  
									   <div class="form-row">
									   
										       
										       <div class="form-group sm col-md-4">
											       <label class="form-label">DOI
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="doi"name="doi"th:value="${armsLicenseEdit.doi}" title="DOI" class="form-control required">
										     </div>
										      <div class="form-group sm col-md-4">
											       <label class="form-label">DOV
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="dov"name="dov"th:value="${armsLicenseEdit.dov}" title="DOV" class="form-control required">
										     </div>
										      <div class="form-group sm col-md-4">
											       <label class="form-label">TOA
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="toa"name="toa"th:value="${armsLicenseEdit.toa}" title="TOA" class="form-control required">
										     </div>
									  </div>
									  
									   <div class="form-row">
									 
										      
										      
										      <div class="form-group sm col-md-4">
											       <label class="form-label">TOP
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="top"name="top"th:value="${armsLicenseEdit.top}" title="TOP" class="form-control required">
										     </div> 
										     
										     <div class="form-group sm col-md-4">
										<label class="form-label">NOL
										<span class="text-danger">*</span></label>
							             <input  type="text"id="armsNol"name="armsNol"th:value="${armsLicenseEdit.armsNol}" title="NOL" class="form-control required">
										 </div>
										 
										 <div class="form-group sm col-md-4">
											       <label class="form-label">LCD
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="lcd"name="lcd"th:value="${armsLicenseEdit.lcd}" title="LCD" class="form-control required">
										     </div>
										     
									  </div> 
									  
									  
									     <div class="form-row">
									      <div class="form-group sm col-md-4">
											       <label class="form-label">Arms Area
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="armsArea"name="armsArea"th:value="${armsLicenseEdit.armsArea}"  title="Arms Area" class="form-control required">
										     </div> 
										
										         
										     <div class="form-group sm col-md-4">
											       <label class="form-label">Dealer Details
											       </label>
							                 <input  type="text"id="dealerDetails"name="dealerDetails"th:value="${armsLicenseEdit.dealerDetails}" title="Dealer Details" class="form-control">
										    <input  type="hidden"id="empCode"name="empCode"th:value="${armsLicenseEdit.empCode}" >
										     </div>
										     <div class="form-group sm col-md-4">
											      
										    <input  type="hidden"id="empCode"name="empCode"th:value="${armsLicenseEdit.empCode}" >
										     </div> 
										     
										     
									    </div>
									 <button type="submit" class="btn btn-primary">Save</button>
									  <button type="submit"class="btn btn-primary" value="cancel">Cancel</button>
                              </div>
                     
                     
                     
                     
								</div>
	</form>
			</div>
				 
						
						
					</div>

				</div>
		</main>
		<footer class="footer">
		<div th:replace="/fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
	<script>
		$(function() {
			
			$("input[name='empDob']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
					 format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});	
		$("input[name='dateOfPosting']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
					 format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
		$("input[name=\"dateOfJoining\"]").daterangepicker({
			singleDatePicker: true,
			   autoApply: true,
			locale: {
				 format: 'YYYY/MM/DD'
	        },
			showDropdowns: true
		});
		$("input[name='dateOfRetirement']").daterangepicker({
			singleDatePicker: true,
		    autoApply: true,
			locale: {
				 format: 'YYYY/MM/DD'
	        },
			showDropdowns: true
		});
		$("input[name='batchYear']").datepicker({
			
		    autoApply: true,
		    format: "yyyy",
		    autoclose: true,
		    minViewMode: "years",
			locale: {
	            format: 'YYYY'
	        },
			showDropdowns: true
		});
			
		
		$("input[name='orderDate']").datepicker({
			singleDatePicker: true,
			format: 'yyyy-mm-dd',
			
		});
		$("input[name=\"dov\"]").daterangepicker({
			singleDatePicker: true,
			   autoApply: true,
			locale: {
				format: 'YYYY/MM/DD'
	        },
			showDropdowns: true
		});
		$("input[name=\"doi\"]").daterangepicker({
			singleDatePicker: true,
			   autoApply: true,
			locale: {
				format: 'YYYY/MM/DD'
	        },
			showDropdowns: true
		});
			
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scroller: false,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
		
	</script>
	
		<script>
		$(function() {
			$("#smartwizard-default-primary").smartWizard({
				theme: "default",
				showStepURLhash: false
			});

			
			// Validation
			var $validationForm = $("#smartwizard-validation");
			$validationForm.validate({
				errorPlacement: function errorPlacement(error, element) {
					$(element).parents(".form-group").append(
						error.addClass("invalid-feedback small d-block")
					)
				},
				highlight: function(element) {
					$(element).addClass("is-invalid");
				},
				unhighlight: function(element) {
					$(element).removeClass("is-invalid");
				},
				rules: {
					"wizard-confirm": {
						equalTo: "input[name=\"wizard-password\"]"
					}
				}
			});
			$validationForm.smartWizard({
					autoAdjustHeight: false,
					backButtonSupport: false,
					useURLhash: false,
					showStepURLhash: false,
					
				})
				.on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
					if (stepDirection === "forward") {
						return $validationForm.valid();
					}
					return true;
				});
			/* $validationForm.find(".btn-submit").on("click", function() {
				if (!$validationForm.valid()) {
					return;
				}
				
				return false;
			}); */
		});
	</script>
	<script type="text/javascript">
		function changetextbox() {
			if (document.getElementById("onDeputation").value === "Y")

			{
				document.getElementById("empDeputation").disabled = 'true';

			} else {

				document.getElementById("empDeputation").disabled = '';
			}

		}
	</script>
	
	<script>
		function sync() {
			var n1 = document.getElementById('empName');
			var n2 = document.getElementById('name');
			n2.value = n1.value;
		}
	</script>
	<script>
		function syncAddress() {
			var n1 = document.getElementById('address1');
			var n2 = document.getElementById('addressArms');
			n2.value = n1.value;
		}
	</script>
	<script>
 function myFunctionState(){
   $('#stateCode').click(function() {
      	 var name= $('#stateCode option:selected').text();
      	$('#state').val(name);
      	}); 
      }
      
</script>
	<script type='text/javascript'>
function preview_image(event) 
{
 var reader = new FileReader();
 reader.onload = function()
 {
  var output = document.getElementById('output_image');
  output.src = reader.result;
 }
 reader.readAsDataURL(event.target.files[0]);
}
</script>
<script>

  $('#loading').show();
  $.ajax({
      // Other ajax parameters
      success: function () {
         // hiding the image here
         debugger;
         $('#loading').hide();
      }
  });
  
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
	

</body>
</html>