<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>


<style>


body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #676565;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 100;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
<!-- <div id="loading">
<img id="loading-image" src="img/spinner.gif" alt="Loading..." />
</div> -->
<body>
<div class="splash active" id="loading">
	<img id="loading-image" src="img/spinner.gif" alt="Loading..." />
	</div>
<div class="wrapper">
<nav id="sidebar" class="sidebar">
 <div th:replace="/fragments/sidebar :: div"></div>
 </nav>
 		
		<div class="main">
		<div th:replace="/fragments/header ::div"></div>
		<main class="content">
		<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">
							Employee Details
						</h1>
						
					
					</div>
					<div class="row">
	              <div class="col-12">
		<form id="smartwizard-validation" enctype="multipart/form-data" class="wizard wizard-primary" th:action="@{/saveEmployee}" th:object="${employees}" method="post">
			<ul>
			<li><a href="#validation-step-1"><br /><small>Employee details</small></a></li>
			<li><a href="#validation-step-2"><br /><small>Department Details </small></a></li>
			<li><a href="#validation-step-3"><br /><small>Other Details1</small></a></li>
			<li><a href="#validation-step-4"><br /><small>Other Details2</small></a></li>
								</ul>
								<div>
								
                         <div id="validation-step-1">

										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label class="form-label">Emp Code <span
														class="text-danger">*</span>
													</label> <input name="Emp_Code" type="text" id="Emp_Code"
														class="form-control"readonly>
												</div>
	
												<div class="form-group">
													<label class="form-label">Name <span
														class="text-danger">*</span>
													</label> <input name="Emp_Name" type="text"
														class="form-control required">
												</div>
												<div class="form-group">
													<label class="form-label">Emp Active</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="eActive" id="eActive">
														<option value="">Select Type</option>
														<option value="Y">Yes</option>
														<option value="N">No</option>
													</select>
												</div>
												<div class="form-group ">
													<label class="form-label">Company Code <span
														class="text-danger">*</span>
													</label> <input name="Comp_Code" type="text" id="Comp_Code"
														class="form-control required">
												</div>

												<div class="form-group ">
													<label class="form-label">Date Of Birth</label> <span
														class="text-danger">*</span> <input 
														class="form-control required" type="text"id="Date_Of_Birth"
														name="Date_Of_Birth" />

												</div>
												<div class="form-group">
													<label class="form-label">Birth State <span
														class="text-danger">*</span>
													</label> <input name="Birth_State" type="text"id="Birth_State"
														class="form-control required">
												</div>
												<div class="form-group">
													<label class="form-label">Birth Place <span
														class="text-danger">*</span>
													</label> <input  type="text"id="Birth_Place"name="Birth_Place"
														class="form-control required">
												</div>
											</div>


											<div class="col-12 col-lg-6">
											<div class="form-group">
													<label class="form-label">Upload Image <span
														class="text-danger">*</span>
													</label>
													
													 <input type="file" id="file" name="file" accept="image/png, image/jpeg"  onchange="preview_image(event)"/>
											     <img id="output_image"width="100px" height="100px"style="border-radius:50%"/>
												</div>
												
												
												<div class="form-group">
													<label class="form-label">Emp Ref No. <span
														class="text-danger">*</span>
													</label> <input name="Emp_Ref_No" type="text" id="Emp_Ref_No"
														class="form-control required">
												</div>
												<div class="form-group">
													<label class="form-label">Type</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="Emp_Type" id="Emp_Type">
														<option value="">Select Type</option>
														<option value="P">Permanent</option>
														<option value="C">Casual</option>
													</select>
												</div>
												<div class="form-group">
													<label class="form-label">Location Type</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="Location_Type" id="Location_Type">
														<option value="">Select Type</option>
														<option value="C">Company</option>
														<option value="G">Govt Office</option>
													</select>
												</div>

												<div class="form-group ">
													<label class="form-label">Weekly Working Days <span
														class="text-danger">*</span>
													</label> <input name="Weekly_Working_Day" type="text"id="Weekly_Working_Day"
														class="form-control required">
												</div>

												

												<div class="form-group">
													<label class="form-label">Domicile <span
														class="text-danger">*</span>
													</label> <input name="domicile" type="text"id="domicile"
														class="form-control required">
												</div>

											</div>
										</div>
									</div>
									
                         <div id="validation-step-2">
									<div class="row">
										<div class="col-12 col-lg-6">
										<div class="form-group">
											<label class="form-label">Card No.    
												<span class="text-danger">*</span>
											</label>
											<input  type="text" class="form-control required" name="Card_No" id="Card_No">
										</div>
										
										
										<div class="form-group">
											<label class="form-label">Designation
												<span class="text-danger">*</span>
											</label>
											<input  type="text" class="form-control required"  name="Emp_Designation"id="Emp_Designation">
										</div>
										
										<div class="form-group">
											<label class="form-label">Shift Code.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" class="form-control required" name="Shift_Code" id="Shift_Code">
										</div>
										
										
										
										<div class="form-group ">
											<label class="form-label">Passport No.
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control required"  name="Passport_No"  id="Passport_No" >
										</div>
										
										
										 <div class="form-group ">
												<label class="form-label">LOI</label>
												<span class="text-danger">*</span>
												<input  type="text" id="Loi_Date" name="Loi_Date" class="form-control required">
											
										</div>
								
										 <div class="form-group ">
												<label class="form-label"> Status Date</label>
												<span class="text-danger">*</span>
												<input  type="text"  class="form-control required" name="Status_Date"id="Status_Date">
										</div>
									
										<div class="form-group">
										<div class="card">
								       			 <div class="card-header">
									   			 <h5 class="card-title mb-0">Reason</h5>
								           		</div>
								        <div class="card-body">
											<textarea class="form-control required" rows="2"id="reason" name="reason" placeholder="Textarea"></textarea>
								       	</div>
							           </div>
							           </div>
										</div>
										
									
									<div class="col-12 col-lg-6">
											<div class="form-group">
											<label class="form-label">Department Code.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" name="Department_Code"id="Department_Code" class="form-control required">
										</div>
										
										
										<div class="form-group">
											<label class="form-label">Manager  Code.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" name="Manager_Code" id="Manager_Code"class="form-control required">
										</div>
								
								
									<div class="form-group">
											<label class="form-label">IT Pan No
												<span class="text-danger">*</span>
											</label>
											<input type="text" name="It_Pan_No"id="It_Pan_No" class="form-control required">
										</div>
								
								
									<div class="form-group">
											<label class="form-label">UAN  No.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" name="Uan_No" id="Uan_No"class="form-control required">
										</div>
								
								 
											
									    <div class="form-group ">
												<label class="form-label">Date Of Joining</label>
												<span class="text-danger">*</span>
												<input  type="text" name="Date_Of_Joining" id="Date_Of_Joining"class="form-control required">
											
										</div>
										
										 <div class="form-group ">
												<label class="form-label"> Leaving Date </label>
												<span class="text-danger">*</span>
												<input class="form-control required" type="text" name="Leaving_Date" id="Leaving_Date" >
										</div>
								</div>	
						   </div>
						</div>

                         <div id="validation-step-3">
											
										   <div class="form-row">
												<div class="form-group sm col-md-4">
												<label for="inputSex">Gender
												<span class="text-danger">*</span>
												</label>
												<select id="Emp_Gender"name="Emp_Gender" class="form-control required">
													<option selected>Choose...Your Gender </option>
													<option>Male</option>
														<option>Female</option>
												</select>
											   </div>
											    <div class="form-group sm col-md-4">
												<label for="inputHieght">Height
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" name="Emp_Height" id="Emp_Height">
											</div>
											    <div class="form-group col-md-4">
												<label for="identiMark">identity Mark
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" Name="Identity_Mark" id="Identity_Mark">
											</div>
										 </div>
										<div class="form-row">
										    	<div class="form-group col-md-4">
												<label for="bloodGroup">Blood Group
												<span class="text-danger">*</span>
												</label> <input
													type="text" class="form-control required"  id="Blood_Group"  name="Blood_Group">
											</div>
											    <div class="form-group col-md-4">
												<label for="maritalStatus:">Marital Status
												<span class="text-danger">*</span>
												</label> <select
													id="Marital_Status" 	Name="Marital_Status" class="form-control required">
													<option selected> Marital Status</option>
													<option>Single</option>
													<option>Married</option>
												</select>
											</div>
											    <div class="form-group col-md-4">
												<label for="preDisease">Pre Disease
												<span class="text-danger">*</span>
												</label> <select
													id="Pre_Disease"  name="Pre_Disease"  class="form-control required">
													<option selected>Choose..Your Disease</option>
													<option>Yes</option>
													<option>No</option>
												</select>
											</div>
										 </div>
										
										<div class="form-row">
											<div class="form-group col-md-4">
											<label for="weddingDate">Wedding Date
											<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control required"id="Wedding_Date" name="Wedding_Date">

											</div>
											<div class="form-group col-md-4">
												<label for="noChild">No. Child
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="No_Of_Child" name="No_Of_Child">
											</div>
											<div class="form-group col-md-4">
												<label for="caste">Caste
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="Emp_Caste" name="Emp_Caste">
											</div>
										</div>
							
							                <div class="form-row">
										   <div class="form-group col-md-4">
												<label for="religion">Religion
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="Emp_Religion" name="Emp_Religion">
											</div>
							               <div class="form-group col-md-4">
												<label for="nationality">Nationality
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="Emp_Nationality" name="Emp_Nationality">
											</div>
										   <div class="form-group col-md-4">
												<label for="companyCode">Company Code
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="Company_Code">
											</div>
							     		   </div>
							     			 
							     			 
							                <div class="form-row">
							                 <div class="form-group col-md-4">
												<label for="mediclaim">Mediclaim
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="mediclaim" name="mediclaim">
											</div>
											<div class="form-group col-md-4">
												<label for="gpa">GPA
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="gpa"  name="gpa" >
											</div>
							        		<div class="form-group col-md-4">
												<label for="Emp_Address1">Address1<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="Emp_Address1" name="Emp_Address1">
												</div>
											</div>
											
											<div class="form-row">
											 <div class="form-group col-md-4">
												<label for="Emp_Address2">Address2<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="Emp_Address2" name="Emp_Address2">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_City">City<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="Emp_City"  name="Emp_City">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_State">State<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="Emp_State" name="Emp_State">
											</div>
											</div>
											
											
											 <div class="form-row">
											<div class="form-group col-md-4">
											<label for="Pin_Code">PinCode<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="Pin_Code"name="Pin_Code">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Mobile">Mobile<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="Emp_Mobile" name="Emp_Mobile">
											</div>
											<div class="form-group col-md-4">
												<label for="Emp_Local_Add1">Local Address1
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="Emp_Local_Add1" name="Emp_Local_Add1">
											</div>
							       
							                </div>
							                
                          				    <div class="form-row">
											 <div class="form-group col-md-4">
												<label for="Emp_Local_Add2">Local Address2
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="Emp_Local_Add2" name="Emp_Local_Add2">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Local_City">City
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="Emp_Local_City" name="Emp_Local_City" >
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Local_State">State
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="Emp_Local_State" name="Emp_Local_State">
											</div>
											</div>
											
											
											
											  <div class="form-row">
											 <div class="form-group col-md-4">
												<label for="Emp_Local_PinCode">PinCode
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="Emp_Local_PinCode"  name="Emp_Local_PinCode">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Local_Mobile_No">Mobile<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="Emp_Local_Mobile_No" name="Emp_Local_Mobile_No">
											</div>
							                </div>
                     
                        </div>
                     
                         <div id="validation-step-4">
                     
                         	               <div class="form-row">
									        <div class="form-group col-md-4">
											<label for="Comp_Mobile_No">Company Mobile No
											<span class="text-danger">*</span></label>
											<input type="text" class="form-control required" id="Comp_Mobile_No" name="Comp_Mobile_No">
											</div>
											
									<div class="form-group col-md-4">
										<label for="Company_Email">Email
										<span class="text-danger">*</span></label>
										<input type="text" class="form-control required" id="Company_Email" name="Company_Email">
										</div>
										
									 <div class="form-group col-md-4">
										 <label for="Prof_Inst">Prof Inst
										<span class="text-danger">*</span></label>
										<input type="text" class="form-control required" id="Prof_Inst" name="Prof_Inst">
										</div>
							       </div>
                                 		   <div class="form-row">
                                           
                                           <div class="form-group col-md-4">
												<label for="Local_Travel_Pr_km">Local Travelling Rate Per KM  
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="Local_Travel_Pr_km" name="Local_Travel_Pr_km">
											</div>
											 
											 <div class="form-group col-md-4">
												<label for="hobbies">Hobbies
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="hobbies" name="hobbies">
											</div>
											
											 <div class="form-group col-md-4">
												<label for="clubs">Clubs<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="clubs" name="clubs">
											</div>
                     
                                </div>
                     			           <div class="form-row">
                                      	  <div class="form-group col-md-6">
												<label for="Reg_Code">Registration code
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="Reg_Code" name="Reg_Code">
											</div>
											
											
											
										 	<div class="form-group col-md-6">
												<label for="Estf_Work ">Estf Work
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="Estf_Work" name="Estf_Work">
												</div>
                     
                                 </div>
                                           <div class="form-row">
                                           <div class="form-group col-md-6">
												    <label for="E_Emp_Cat">eEmp_Cat
												    <span class="text-danger">*</span></label> 
												    <select id="E_Emp_Cat" name="E_Emp_Cat" class="form-control required">
													<option selected> Category</option>
													<option>Permanent </option>
													<option>Temporary </option>
											     	</select>
											 </div>
                                               		  
                                               	
											 <div class="form-group col-md-6">
												<label for="E_Category ">E-Category
												<span class="text-danger">*</span>
												 </label>
												<input type="text" class="form-control required" id="E_Category" name="E_Category">
											</div>
                                               </div>
                                           <div class="form-group">
											<label  class="custom-control custom-checkbox required">
											
												<input type="checkbox" class="custom-control-input" id=Emp_Agree name="Emp_Agree">
												<span class="custom-control-label">I agree with the Terms and Conditions</span>
											</label>
										</div>
										
										<button type="submit" class="btn btn-primary">Save</button>
									<!-- 	<button class="btn btn-submit btn-primary" type="button">Finish</button> -->
                     
                     </div>
                     
                     
                     
                     
								</div>
	</form>
			</div>
				  <div class="col-12">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
								<table id="datatables-buttons" class="table table-striped display" style="width:100%">
										<thead>
											<tr>
												<th>Emp id</th>
												<th>Emp Name </th>
												<th>Date Of Joining</th>
												<th>employee images</th>
												<th>Action</th>
												
											</tr>
										</thead>
										<tbody>
											<tr  th:each="listemployee : ${listEmployee}">
												<td th:text="${listemployee.Emp_Code}"></td>
												<td th:text="${listemployee.Emp_Name}"></td>
												<td th:text="${listemployee.Date_Of_Joining}"></td>
												<td><img th:src="@{'/img/'+${listemployee.Emp_Img}}" alt="Avatar" width="125" height="125" /> </td>
												<td><a th:href="@{/editEmployee/{id}(id=${listemployee.Emp_Code})}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
												<a th:href="@{/deleteEmployee/{id}(id=${listemployee.Emp_Code})}" class="btn btn-primary"onclick="return confirm('Are you sure?')"><i class="fa fa-times"></i></a>
												</td>
											</tr>
										</tbody>
									
									</table>
								</div>
								
							</div>
						</div>
					</div>

				</div>
		</main>
		<footer class="footer">
		<div th:replace="/fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
	<script>
		$(function() {
			
			
		$("input[name='Date_Of_Birth']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});

		$("input[name=\"Loi_Date\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
		
			$("input[name=\"Date_Of_Joining\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
			$("input[name=\"Status_Date\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
			$("input[name=\"Leaving_Date\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
			
			$("input[name=\"Wedding_Date\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scroller: false,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
		
	</script>
	
		<script>
		$(function() {
			$("#smartwizard-default-primary").smartWizard({
				theme: "default",
				showStepURLhash: false
			});

			
			// Validation
			var $validationForm = $("#smartwizard-validation");
			$validationForm.validate({
				errorPlacement: function errorPlacement(error, element) {
					$(element).parents(".form-group").append(
						error.addClass("invalid-feedback small d-block")
					)
				},
				highlight: function(element) {
					$(element).addClass("is-invalid");
				},
				unhighlight: function(element) {
					$(element).removeClass("is-invalid");
				},
				rules: {
					"wizard-confirm": {
						equalTo: "input[name=\"wizard-password\"]"
					}
				}
			});
			$validationForm.smartWizard({
					autoAdjustHeight: false,
					backButtonSupport: false,
					useURLhash: false,
					showStepURLhash: false,
					
				})
				.on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
					if (stepDirection === "forward") {
						return $validationForm.valid();
					}
					return true;
				});
			/* $validationForm.find(".btn-submit").on("click", function() {
				if (!$validationForm.valid()) {
					return;
				}
				
				return false;
			}); */
		});
	</script>
	<script type='text/javascript'>
function preview_image(event) 
{
 var reader = new FileReader();
 reader.onload = function()
 {
  var output = document.getElementById('output_image');
  output.src = reader.result;
 }
 reader.readAsDataURL(event.target.files[0]);
}
</script>
<script>

  $('#loading').show();
  $.ajax({
      // Other ajax parameters
      success: function () {
         // hiding the image here
         debugger;
         $('#loading').hide();
      }
  });
  
</script>	
</body>
</html>