<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>


<style>


body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #676565;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 100;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
 
<body>

<div class="wrapper">
<nav id="sidebar" class="sidebar">
 <div th:replace="/fragments/sidebar :: div"></div>
 </nav>
 		
		<div class="main">
		<div th:replace="/fragments/header ::div"></div>
		<main class="content">
		<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">
							Employee Details
						</h1>
						
					
					</div>
					<div class="row">
	              <div class="col-12">
		<form id="smartwizard-validation" enctype="multipart/form-data" class="wizard wizard-primary" th:action="@{/saveEmployee}" th:object="${employees}" method="post">
			<ul>
			<li><a href="#validation-step-1"><br /><small>Employee details</small></a></li>
			<li><a href="#validation-step-2"><br /><small>Department Details </small></a></li>
			<li><a href="#validation-step-3"><br /><small>Other Details1</small></a></li>
			<li><a href="#validation-step-4"><br /><small>Other Details2</small></a></li>
								</ul>
								<div>
								
                         <div id="validation-step-1">

										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label class="form-label">Emp Code <span
														class="text-danger">*</span>
													</label> <input name="empCode" type="text" id="empCode"
														class="form-control"readonly>
												</div>
	
												<div class="form-group">
													<label class="form-label">Name <span
														class="text-danger">*</span>
													</label>
													 <input name="empName" id="empName"pattern="^[a-zA-Z\s]*$" type="text"maxlength="50"
														class="form-control"required aria-required="true"title="Name">
												</div>
												<div class="form-group">
													<label class="form-label">Emp Active</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="eActive" id="eActive">
														<option value="">Select Type</option>
														<option value="Y">Yes</option>
														<option value="N">No</option>
													</select>
												</div>
												<div class="form-group ">
													<label class="form-label">Company Code <span
														class="text-danger">*</span>
													</label> <input name="compCode" type="text" id="compCode"maxlength="25"
														class="form-control required" title="Company Code">
												</div>

												<div class="form-group ">
													<label class="form-label">Date Of Birth</label> <span
														class="text-danger">*</span> <input 
														class="form-control required" type="text"id="dateOfBirth"
														name="dateOfBirth" />

												</div>
												<div class="form-group">
													<label class="form-label">Birth State <span
														class="text-danger">*</span>
													</label> <input name="birthState"pattern="^[a-zA-Z\s]*$"maxlength="20"  type="text"id="birthState"
														class="form-control required">
												</div>
												<div class="form-group">
													<label class="form-label">Birth Place <span
														class="text-danger">*</span>
													</label> <input  type="text"id="birthPlace"name="birthPlace"pattern="^[a-zA-Z\s]*$"maxlength="20" 
														class="form-control required">
												</div>
											</div>


											<div class="col-12 col-lg-6">
											<div class="form-group">
													<label class="form-label">Upload Image <span
														class="text-danger">*</span>
													</label>
													
													 <input type="file" id="image" name="image" accept="image/png,image/jpeg"  onchange="preview_image(event)"/>
											     <img id="output_image"width="100px" height="100px"style="border-radius:50%" alt="output_image">
												</div>
												
												
												<div class="form-group">
													<label class="form-label">Emp Ref No. <span
														class="text-danger">*</span>
													</label> <input name="empRefNo" type="text" id="empRefNo" pattern="\d{1,10}" title="Only digits"maxlength="10" 
														class="form-control required">
												</div>
												<div class="form-group">
													<label class="form-label">Type</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="empType" id="empType">
														<option value="">Select Type</option>
														<option value="P">Permanent</option>
														<option value="C">Casual</option>
													</select>
												</div>
												<div class="form-group">
													<label class="form-label">Location Type</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="locationType" id="locationType">
														<option value="">Select Type</option>
														<option value="C">Company</option>
														<option value="G">Govt Office</option>
													</select>
												</div>

												<div class="form-group ">
													<label class="form-label">Weekly Working Days <span
														class="text-danger">*</span>
													</label> <input name="weeklyWorkingDay" type="text"id="weeklyWorkingDay" maxlength="2"pattern="\d{1,10}" title="Only digits"
														class="form-control required">
												</div>

												

												<div class="form-group">
													<label class="form-label">Domicile <span
														class="text-danger">*</span>
													</label> <input name="domicile" type="text"id="domicile"pattern="^[a-zA-Z\s]*$"maxlength="20"
														class="form-control required">
												</div>

											</div>
										</div>
									</div>
									
                         <div id="validation-step-2">
									<div class="row">
										<div class="col-12 col-lg-6">
										<div class="form-group">
											<label class="form-label">Card No.    
												<span class="text-danger">*</span>
											</label>
											<input  type="text" class="form-control required" name="cardNo" id="cardNo" maxlength="15" pattern="\d{1,10}" title="Only digits">
										</div>
										
										
										<div class="form-group">
											<label class="form-label">Designation
												<span class="text-danger">*</span>
											</label>
											<input  type="text" class="form-control required"  name="empDesignation"id="empDesignation">
										</div>
										
										<div class="form-group">
											<label class="form-label">Shift Code.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" class="form-control required" name="shiftCode" id="shiftCode">
										</div>
										
										
										
										<div class="form-group ">
											<label class="form-label">Passport No.
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control required"  name="passportNo"  id="passportNo" >
										</div>
										
										
										 <div class="form-group ">
												<label class="form-label">LOI</label>
												<span class="text-danger">*</span>
												<input  type="text" id="loiDate" name="loiDate" class="form-control required">
											
										</div>
								
										 <div class="form-group ">
												<label class="form-label"> Status Date</label>
												<span class="text-danger">*</span>
												<input  type="text"  class="form-control required" name="statusDate"id="statusDate">
										</div>
									
										<div class="form-group">
										<div class="card">
								       			 <div class="card-header">
									   			 <h5 class="card-title mb-0">Reason</h5>
								           		</div>
								        <div class="card-body">
											<textarea class="form-control required" rows="2"id="reason" name="reason" placeholder="Textarea"></textarea>
								       	</div>
							           </div>
							           </div>
										</div>
										
									
									<div class="col-12 col-lg-6">
											<div class="form-group">
											<label class="form-label">Department Code.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" name="departmentCode"id="departmentCode" class="form-control required">
										</div>
										
										
										<div class="form-group">
											<label class="form-label">Manager  Code.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" name="managerCode" id="managerCode"class="form-control required">
										</div>
								
								
									<div class="form-group">
											<label class="form-label">IT Pan No
												<span class="text-danger">*</span>
											</label>
											<input type="text" name="itPanNo"id="itPanNo" class="form-control required">
										</div>
								
								
									<div class="form-group">
											<label class="form-label">UAN  No.
												<span class="text-danger">*</span>
											</label>
											<input  type="text" name="uanNo" id="uanNo"class="form-control required">
										</div>
								
								 
											
									    <div class="form-group ">
												<label class="form-label">Date Of Joining</label>
												<span class="text-danger">*</span>
												<input  type="text" name="dateOfJoining" id="dateOfJoining"class="form-control required">
											
										</div>
										
										 <div class="form-group ">
												<label class="form-label"> Leaving Date </label>
												<span class="text-danger">*</span>
												<input class="form-control required" type="text" name="leavingDate" id="leavingDate" >
										</div>
								</div>	
						   </div>
						</div>

                         <div id="validation-step-3">
											
										   <div class="form-row">
												<div class="form-group sm col-md-4">
												<label for="inputSex">Gender
												<span class="text-danger">*</span>
												</label>
												<select id="empGender"name="empGender" class="form-control required">
													<option selected>Choose...Your Gender </option>
													<option value="Male">Male</option>
														<option  value="Female">Female</option>
												</select>
											   </div>
											    <div class="form-group sm col-md-4">
												<label for="inputHieght">Height
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" name="empHeight" id="empHeight">
											</div>
											    <div class="form-group col-md-4">
												<label for="identiMark">identity Mark
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" Name="identityMark" id="identityMark">
											</div>
										 </div>
										<div class="form-row">
										    	<div class="form-group col-md-4">
												<label for="bloodGroup">Blood Group
												<span class="text-danger">*</span>
												</label> <input
													type="text" class="form-control required"  id="bloodGroup"  name="bloodGroup">
											</div>
											    <div class="form-group col-md-4">
												<label for="maritalStatus:">Marital Status
												<span class="text-danger">*</span>
												</label> <select
													id="maritalStatus" 	Name="maritalStatus" class="form-control required">
													<option selected> Marital Status</option>
													<option  value="Single">Single</option>
													<option  value="Married">Married</option>
												</select>
											</div>
											    <div class="form-group col-md-4">
												<label for="preDisease">Pre Disease
												<span class="text-danger">*</span>
												</label> <select
													id="preDisease"  name="preDisease"  class="form-control required">
													<option selected>Choose..Your Disease</option>
													<option  value="Yes"> Yes</option>
													<option value="No">No</option>
												</select>
											</div>
										 </div>
										
										<div class="form-row">
											<div class="form-group col-md-4">
											<label for="weddingDate">Wedding Date
											<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control required"id="weddingDate" name="weddingDate">

											</div>
											<div class="form-group col-md-4">
												<label for="noChild">No. Child
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="noOfChild" name="noOfChild">
											</div>
											<div class="form-group col-md-4">
												<label for="caste">Caste
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="empCaste" name="empCaste">
											</div>
										</div>
							
							                <div class="form-row">
										   <div class="form-group col-md-4">
												<label for="religion">Religion
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="empReligion" name="empReligion">
											</div>
							               <div class="form-group col-md-4">
												<label for="nationality">Nationality
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required" id="empNationality" name="empNationality">
											</div>
										   <div class="form-group col-md-4">
												<label for="companyCode">Company Code
												<span class="text-danger">*</span>
												</label>
												
												<input type="text" class="form-control required"  name="companyCode" id="companyCode">
											</div>
							     		   </div>
							     			 
							     			 
							                <div class="form-row">
							                 <div class="form-group col-md-4">
												<label for="mediclaim">Mediclaim
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="mediclaim" name="mediclaim">
											</div>
											<div class="form-group col-md-4">
												<label for="gpa">GPA
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="gpa"  name="gpa" >
											</div>
							        		<div class="form-group col-md-4">
												<label for="Emp_Address1">Address1<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empAddress1" name="empAddress1">
												</div>
											</div>
											
											<div class="form-row">
											 <div class="form-group col-md-4">
												<label for="Emp_Address2">Address2<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="empAddress2" name="empAddress2">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_City">City<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="empCity"  name="empCity">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_State">State<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="empState" name="empState">
											</div>
											</div>
											
											
											 <div class="form-row">
											<div class="form-group col-md-4">
											<label for="Pin_Code">PinCode<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="pinCode"name="pinCode">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Mobile">Mobile<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="empMobile" name="empMobile">
											</div>
											<div class="form-group col-md-4">
												<label for="Emp_Local_Add1">Local Address1
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalAdd1" name="empLocalAdd1">
											</div>
							       
							                </div>
							                
                          				    <div class="form-row">
											 <div class="form-group col-md-4">
												<label for="Emp_Local_Add2">Local Address2
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalAdd2" name="empLocalAdd2">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Local_City">City
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalCity" name="empLocalCity" >
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Local_State">State
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalState" name="empLocalState">
											</div>
											</div>
											
											
											
											  <div class="form-row">
											 <div class="form-group col-md-4">
												<label for="Emp_Local_PinCode">PinCode
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalPinCode"  name="empLocalPinCode">
											</div>
											 <div class="form-group col-md-4">
												<label for="Emp_Local_Mobile_No">Mobile<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="empLocalMobileNo" name="empLocalMobileNo">
											</div>
							                </div>
                     
                        </div>
                     
                         <div id="validation-step-4">
                     
                         	               <div class="form-row">
									        <div class="form-group col-md-4">
											<label for="Comp_Mobile_No">Company Mobile No
											<span class="text-danger">*</span></label>
											<input type="text" class="form-control required" id="compMobileNo" name="compMobileNo">
											</div>
											
									<div class="form-group col-md-4">
										<label for="Company_Email">Email
										<span class="text-danger">*</span></label>
										<input type="text" class="form-control required" id="companyEmail" name="companyEmail">
										</div>
										
									 <div class="form-group col-md-4">
										 <label for="Prof_Inst">Prof Inst
										<span class="text-danger">*</span></label>
										<input type="text" class="form-control required" id="profInst" name="profInst">
										</div>
							       </div>
                                 		   <div class="form-row">
                                           
                                           <div class="form-group col-md-4">
												<label for="Local_Travel_Pr_km">Local Travelling Rate Per KM  
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="localTravelPrkm" name="localTravelPrkm">
											</div>
											 
											 <div class="form-group col-md-4">
												<label for="hobbies">Hobbies
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="hobbies" name="hobbies">
											</div>
											
											 <div class="form-group col-md-4">
												<label for="clubs">Clubs<span class="text-danger">*</span></label>
												
												<input type="text" class="form-control required" id="clubs" name="clubs">
											</div>
                     
                                </div>
                     			           <div class="form-row">
                                      	  <div class="form-group col-md-6">
												<label for="Reg_Code">Registration code
												<span class="text-danger">*</span></label>
												<input type="text" class="form-control required" id="regCode" name="regCode">
											</div>
											
											
											
										 	<div class="form-group col-md-6">
												<label for="Estf_Work ">Estf Work
												<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control required" id="estfWork" name="estfWork">
												</div>
                     
                                 </div>
                                           <div class="form-row">
                                           <div class="form-group col-md-6">
												    <label for="E_Emp_Cat">eEmp_Cat
												    <span class="text-danger">*</span></label> 
												    <select id="electronicEmpCat" name="electronicEmpCat" class="form-control required">
													<option selected> Category</option>
													<option th:value="Permanent">Permanent </option>
													<option th:value="Temporary">Temporary </option>
											     	</select>
											 </div>
                                               		  
                                               	
											 <div class="form-group col-md-6">
												<label for="E_Category ">E-Category
												<span class="text-danger">*</span>
												 </label>
												<input type="text" class="form-control required" id="electronicCategory" name="electronicCategory">
											</div>
                                               </div>
                                           <div class="form-group">
											<label  class="custom-control custom-checkbox required">
											
												<input type="checkbox" class="custom-control-input" id=empAgree name="empAgree">
												<span class="custom-control-label">I agree with the Terms and Conditions</span>
											</label>
										</div>
										
										<button type="submit" class="btn btn-primary">Save</button>
							
                     
                     </div>
                     
                     
                     
                     
								</div>
	</form>
			</div>
				  <div class="col-12">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
								<table id="datatables-buttons"aria-describedby="datatables-buttons" class="table table-striped display" style="width:100%">
										<thead>
											<tr>
												<th scope="col">Emp id</th>
												<th scope="col">Emp Name </th>
												<th scope="col">Date Of Joining</th>
												<th scope="col">employee images</th>
												<th scope="col">Action</th>
												
											</tr>
										</thead>
										<tbody>
											<tr  th:each="listemployee : ${listEmployee}">
												<td th:text="${listemployee.empCode}"></td>
												<td th:text="${listemployee.empName}"></td>
												<td th:text="${listemployee.dateOfJoining}"></td>
												
											<td><img alt="th" th:src="@{'data:image/jpeg;base64,'+${imgUtil.getImgData(listemployee.imageProfile)}}" style="width: 100px;height: 100px;"></td>
												<!-- <td><img th:src="@{'/img/'+${listemployee.empImg}}" alt="Avatar" width="48" height="48"class="rounded-circle mr-2" /> </td> -->
												<td><a th:href="@{/editEmployee/{id}(id=${listemployee.empCode})}"><em class="fa fa-edit"></em></a>
												<a th:href="@{/deleteEmployee/{id}(id=${listemployee.empCode})}" onclick="return confirm('Are you sure?')"><em class="fa fa-times"></em></a>
												
												
												
												
												</td>
											</tr>
										</tbody>
									
									</table>
								</div>
								
							</div>
						</div>
					</div>

				</div>
		</main>
		<footer class="footer">
		<div th:replace="/fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
	<script>
		$(function() {
			
			
		$("input[name='dateOfBirth']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});

		$("input[name=\"loiDate\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
		
			$("input[name=\"dateOfJoining\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
			$("input[name=\"statusDate\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
			$("input[name=\"leavingDate\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			
			
			$("input[name=\"weddingDate\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scroller: false,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
		
	</script>
	
		<script>
		$(function() {
			$("#smartwizard-default-primary").smartWizard({
				theme: "default",
				showStepURLhash: false
			});

			
			// Validation
			var $validationForm = $("#smartwizard-validation");
			$validationForm.validate({
				errorPlacement: function errorPlacement(error, element) {
					$(element).parents(".form-group").append(
						error.addClass("invalid-feedback small d-block")
					)
				},
				highlight: function(element) {
					$(element).addClass("is-invalid");
				},
				unhighlight: function(element) {
					$(element).removeClass("is-invalid");
				},
				rules: {
					"wizard-confirm": {
						equalTo: "input[name=\"wizard-password\"]"
					}
				}
			});
			$validationForm.smartWizard({
					autoAdjustHeight: false,
					backButtonSupport: false,
					useURLhash: false,
					showStepURLhash: false,
					
				})
				.on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
					if (stepDirection === "forward") {
						return $validationForm.valid();
					}
					return true;
				});
			/* $validationForm.find(".btn-submit").on("click", function() {
				if (!$validationForm.valid()) {
					return;
				}
				
				return false;
			}); */
		});
	</script>
	<script type='text/javascript'>
function preview_image(event) 
{
 var reader = new FileReader();
 reader.onload = function()
 {
  var output = document.getElementById('output_image');
  output.src = reader.result;
 }
 reader.readAsDataURL(event.target.files[0]);
}
</script>
<script>

  $('#loading').show();
  $.ajax({
      // Other ajax parameters
      success: function () {
         // hiding the image here
         debugger;
         $('#loading').hide();
      }
  });
  
</script>	
</body>
</html>