<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script type="text/javascript" th:src="@{/js/ajax_leaveRequest.js}"></script>
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>




<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}


</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>

<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar" aria-label="Site sidebar">
			<div th:replace="/fragments/sidebar :: div"></div>
		</nav>
		<div class="main">
			<div th:replace="/fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title">HRMS</h1>
						<nav aria-label="breadcrumb"></nav>
					</div>
					<form action="#" th:action="@{/saveEmployeeRequisition}"
						th:object="${req}" method="post">
						<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Employee Requisition</h5>
										<div class="alert-outline">
											<div th:if="${message}" th:text="${message}"
												style="color: red"></div>
										</div>
									</div>

									<div class="card-body">


										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label> Requisition Code </label> <label style="color: red">*</label>
													<input class="form-control" id="" value=""
														th:field="*{reqCode}" />
												</div>
											</div>
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label> Requisition Date </label> <label style="color: red">*</label>
													<input class="form-control" type="date" id="" value=""
														th:field="*{reqDate}" />
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label> Department Code </label> <label style="color: red">*</label>
													<input type="text" class="form-control" id="departmentId"
														value="" th:field="*{deptCode}">
												</div>
											</div>
											<div class="col-12 col-lg-6">
												<label class="form-label">Department Name</label> <label
													style="color: red">*</label> <select class="form-control"
													id="departmentDropdown" onchange="changeDepartment()">
													<option value="">Select Department</option>
													<option th:each="department :  ${departmentList}"
														th:text="${department.deptName}"
														th:value=" ${department.departmentCode}"></option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label> Requisition Priorty </label> <label
														style="color: red">*</label> <select
														class="form-control select2" id="leave_type_id"
														th:field="*{reqPriority}">
														<option value="">Select</option>
														<option value="low">Low</option>
														<option value="high">High</option>
													</select>
												</div>
											</div>
											<div class="col-12 col-lg-6">
												<label class="form-label">Requisition Fulfill Date</label> <label
													style="color: red">*</label> <input type="date"
													class="form-control" th:field="*{reqTill}">
											</div>
										</div>
										<div class="row">
											<div class="col-12 col-lg-6">
												<label class="form-label">Remarks</label> <label
													style="color: red">*</label> <input type="text"
													class="form-control" id="leaveDepartmentName" value=""
													th:field="*{remarks}">
											</div>

										</div>


									</div>
								</div>
							</div>

							<div class="col-12">
								<div class="card">
									<div class="card-header"></div>
									<div class="card-body">
									
									<input id="_cr" name="_cr" type="hidden"value="1">
									
										<div id="validation-step-3">

											<div class="col-sm-12" align="right">
												



												<a id="add_row" class="fa fa-plus" aria-hidden="true"
													style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
												<a id='delete_row' class="fa fa-trash"
													style="font-size: 24px; color: #399490fc"
													aria-hidden="true"></a>
											</div>

<div class="table-responsive">
											<table id="example" aria-describedby="example"
												class="table table-striped display" style="width: 100%">
												<thead>
													<tr>
														<th style="width: 130px;">Designation Code</th>
														<th style="width: 130px;">Designation Name</th>
														<th style="width: 130px;">Location</th>
														<th style="width: 130px;">Sex</th>
														<th style="width: 130px;">Age(From)</th>
														<th style="width: 130px;">Age(To)</th>
														<th style="width: 130px;">Academic Qualification</th>
														<th style="width: 130px;">Technical Qualification</th>
														<th style="width: 130px;">Exp.in month(Min)</th>
														<th style="width: 130px;">MaExp.in month(Max)x</th>
														<th style="width: 130px;">Vacancy Type</th>
														<th style="width: 130px;">Total Vacancies</th>
														<th style="width: 130px;">Salary From</th>
														<th style="width: 130px;">Salary To</th>
														<th style="width: 130px;">Detail</th>
														<th style="width: 130px;">Action</th>
													</tr>
												</thead>
												<tbody>
													<tr id="addr0">


														<td><input type="text" style="width: 130px;"
															id="desigCode0"
															name="employeRequisitionDetail[0].desigCode"></td>

														<td><select id="designationName0"
															name="employeRequisitionDetail[0].designationName"
															onchange="selectDesignation()">
																<option value=" ">Select</option>


														</select></td>



														<td><select id="location"
															name="employeRequisitionDetail[0].location">
																<option value=" ">Select</option>
																<option value="court">Court</option>
																<option value="department">Department</option>
														</select></td>

														<td><select id="sex"
															name="employeRequisitionDetail[0].sex">
																<option value=" ">Select</option>
																<option value="male">Male</option>
																<option value="female">Female</option>
														</select></td>

														<td><input name="employeRequisitionDetail[0].ageFrom"
															type="text" style="width: 130px;" id="ageFrom"></td>

														<td><input name="employeRequisitionDetail[0].ageTo"
															type="text" style="width: 130px;" id="ageTo"></td>

														<td><input
															name="employeRequisitionDetail[0].acadQuali" type="text"
															style="width: 130px;" id="accademicQualificatio"></td>

														<td><input
															name="employeRequisitionDetail[0].techQuali" type="text"
															style="width: 130px;" id="technicalQualification"></td>

														<td><input
															name="employeRequisitionDetail[0].minExperience"
															type="text" style="width: 130px;" id="expMinMonth"></td>

														<td><input
															name="employeRequisitionDetail[0].maxExperience"
															type="text" style="width: 130px;" id="expMaxMonth"></td>

														<td><input
															name="employeRequisitionDetail[0].vacanncyType"
															type="text" style="width: 130px;" id="vacancyType"></td>

														<td><input
															name="employeRequisitionDetail[0].totalVacancy"
															type="text" style="width: 130px;" id="totalvacancy"></td>

														<td><input
															name="employeRequisitionDetail[0].salaryFrom" type="text"
															style="width: 130px;" id="salaryFrom"></td>

														<td><input
															name="employeRequisitionDetail[0].salaryTo" type="text"
															style="width: 130px;" id="salaryTo"></td>

														<td><input name="employeRequisitionDetail[0].remarks"
															type="text" style="width: 130px;" id="detail"></td>

														<td></td>
													</tr>
													<tr id='addr1' />
													
												</tbody>

											</table>
											</div>
										</div>
										<input type="hidden" id="hidden_field" th:value="${length}" />
									</div>

								</div>
							</div>
							<button type="submit" class="btn btn-primary">Apply</button>
							<button type="reset" class="btn btn-primary" value="Reset">Reset</button>


						</div>
					</form>
					
					
					<div class="col-12">
							<div class="card">
								<div class="card-header"></div>
								<div class="card-body">
									<table id="datatables"  class="table table-striped display" style="width: 100%">
										<thead>
											<tr>
												<th>Req Code</th>
												<th>Req. Date</th>
												<th>Priority</th>
												<th>Till Date</th>
												<th>Remarks</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="leave : ${requisition}">
												<td th:text="${leave.reqCode}"></td>
												<td th:text="${leave.reqDate}"></td>
												<td th:text="${leave.reqPriority}"></td>
												<td th:text="${leave.reqTill}"></td>
												<td th:text="${leave.remarks}"></td>
												
												<td><a th:href="@{editRequisition/{id}(id=${leave.reqCode})}" class="btn btn-primary"><em class="fa fa-eye"></em></a>
															
															
													<a th:href="@{deleteRequisition/{id}(id=${leave.reqCode})}" class="btn btn-primary"><em class="fa fa-check"></em></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
						
						
				</div>
			</main>
			<footer class="footer">
				<div th:replace="/fragments/footer :: div"></div>
			</footer>
		</div>
	</div>
	<script>
		
	</script>

	<script>
		$(document).ready(function() {
			$('#example').DataTable({
				"scrollY" : 200,
				"scrollX" : true,
				deferRender : true,
				scrollCollapse : true,

			});
		});

		

		var size = "";
		var idIndex=0;
		function changeDepartment() {

			//set dept code value 
			var dValue = document.getElementById("departmentDropdown").value;
			document.getElementById("departmentId").value = dValue;

			var selecteDepartmentValue = document
					.getElementById("departmentDropdown").value;
			console.log("select category : " + selecteDepartmentValue);
			//$('#employeeName').append($('<option>', {value:0, text:'Select Employee'}));
			var x = document.getElementById("designationName'+idIndex+'");
			console.log("x value : " + x);

			//var length = x.options.length;
			//for (i = length - 1; i >= 1; i--) {
			//	x.options[i] = null;
			//}

			if (selecteDepartmentValue !== ""
					|| document.getElementById("selecteDepartmentValue").selected == false) {
				const xhr = new XMLHttpRequest();
				xhr.open('GET', 'designationbydept/' + selecteDepartmentValue,
						true);
				xhr.getResponseHeader('content-type', 'application/json');
				xhr.onload = function() {
					if (this.status === 200) {
						let obj = JSON.parse(this.responseText);
						console.log(obj);
						console.log("console.log size :" + obj.length);
						//console.log("employee name : " +obj[0].empName)
						$('select[name="designationName"]').prop("disabled",
								false);
						//$('select[name="employeeName"]').html(obj.empName);

						$.each(obj,
								function(i, item) {
									console.log(" i " + i + " item : "
											+ item.desigCode);
									console.log(" i " + i + " item : "
											+ item.desgName);
									$('#employeeName').append($('<option>', {
										value : i,
										text : item.empName
									}));
									console.log("dbIndex value is : "+ idIndex);
									$('#designationName'+idIndex).append(
											$('<option>').val(this.desigCode)
													.text(this.desgName));
								});
						
						

					} else {
						console.error("some error occured");
					}

				}
				xhr.send();
			} else {
				$('select[name="employeeName"]').prop("disabled", true);
			}

		}

		function selectDesignation() {
			console.log("designation selection");
			var designationCode = document.getElementById("designationName"+idIndex).value;
			console.log("desihnation code " + designationCode);
			document.getElementById("desigCode"+idIndex).value = designationCode;
			
		}
		
		
		
		
	
	</script>

<script>

//add row 

$(document).ready(function(){
	console.log("click function...");
	var i=1;
	
	console.log("idINdexin add buttton function" + idIndex);
	$("#add_row").click(function(){
		idIndex++;
	$('#addr'+i).html("<td><input type='text' style='width: 130px;'id='desigCode"+idIndex+"'name='employeRequisitionDetail["+i+"].desigCode'></td>"+
			
			"<td><select id='designationName"+idIndex+"'name='employeRequisitionDetail["+i+"].designationName'onchange='selectDesignation()'><option value=''>Select</option></select></td>"+
			"<td><select id='location'name='employeRequisitionDetail["+i+"].location'><option value=''>Select</option><option value='court'>Court</option><option value='department'>Department</option></select></td>"+
			"<td><select id='sex'name='employeRequisitionDetail["+i+"].sex'><option value=''>Select</option><option value='male'>Male</option><option value='female'>Female</option></select></td>"+
			"<td><input type='text' style='width: 130px;'id='ageFrom'name='employeRequisitionDetail["+i+"].ageFrom'></td>"+
			" </td><td><input type='text' style='width: 130px;'id='desigCode'name='employeRequisitionDetail["+i+"].ageTo'></td>"+

			"<td><input type='text' style='width: 130px;'id='acadQuali'name='employeRequisitionDetail["+i+"].acadQuali'></td>"+
			"<td><input type='text' style='width: 130px;'id='techQuali'name='employeRequisitionDetail["+i+"].techQuali'></td>"+
			"<td><input type='text' style='width: 130px;'id='minExperience'name='employeRequisitionDetail["+i+"].minExperience'></td>"+
			"<td><input type='text' style='width: 130px;'id='maxExpierence'name='employeRequisitionDetail["+i+"].maxExperience'></td>"+
			"<td><input type='text' style='width: 130px;'id='vacanncyType'name='employeRequisitionDetail["+i+"].vacanncyType'></td>"+
			"<td><input type='text' style='width: 130px;'id='totalVacancy'name='employeRequisitionDetail["+i+"].totalvacancy'></td>"+
			"<td><input type='text' style='width: 130px;'id='salaryFrom'name='employeRequisitionDetail["+i+"].salaryFrom'></td>"+
			"<td><input type='text' style='width: 130px;'id='salaryTo'name='employeRequisitionDetail["+i+"].salaryTo'></td>"+
			"<td><input type='text' style='width: 130px;'id='remarks'name='employeRequisitionDetail["+i+"].remarks'></td>");

	$('#example').append('<tr id="addr'+(i+1)+'"></tr>');
	$('#_cr').val(i+1);
	i++; 
	
	changeDepartment();
	
});
	
	$("#delete_row").click(function(){
	 	 if(i>1){
			 $("#addr"+(i-1)).html('');
			 $('#_cr').val(i - 1);
			 i--;
			 idIndex--;
			 }
		 });


});

</script>


	<script>
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive : true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons')
					.DataTable(
							{
								deferRender : true,
								scrollCollapse : true,
								scroller : false,
								responsive : true,
								lengthMenu : [
										[ 10, 20, 30, -1 ],
										[ '10 rows', '20 rows', '30 rows',
												'Show all' ] ],
								buttons : []
							});
			datatablesButtons.buttons().container().appendTo(
					"#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>



</body>

</html>