<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script src="js/settings.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript" th:src="@{/js/ajax_emp_pay_details.js}"></script>
<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>


<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar" aria-label="Site sidebar">
			<div th:replace="fragments/sidebar :: div"></div>
		</nav>
		<div class="main">
			<div th:replace="fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title">HRMS</h1>
						<nav aria-label="breadcrumb"></nav>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Employee Pay Details</h5>

								</div>
								<div class="card-body">
									<form id="validation-form" action="#"
										th:action="@{/saveemployepaydetail}"
										th:object="${employeePayDetail}" method="post">

										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label class="form-label"> Employee Code </label> <label
														style="color: red">*</label> <select id="employeeDropdown"
														class="form-control" name="empCode" onchange="display()">
														<option value=" ">Select</option>
														<option th:each="employee: ${listEmployee}"
															th:text="${employee.empCode}">${employee.empCode}</option>
													</select>


												</div>
												<div class="form-group">
													<label class="form-label">name </label> <label
														style="color: red">*</label> <input type="text"
														class="form-control" id="emp_name" name="empName"
														maxlength="40" pattern="^[a-zA-Z\s]*$" required
														aria-required="true">
												</div>


												<div class="form-group">
													<label class="form-label">Old Emp. Code </label> <label
														style="color: red">*</label> <input type="text"
														class="form-control" id="deptCode1" name="deptCode1"
														maxlength="40" pattern="^[a-zA-Z\s]*$" required
														aria-required="true">
												</div>


												<div class="form-group ">
													<label class="form-label">WEF Date</label> <span
														class="text-danger">*</span> <input
														class="form-control required" type="text" id="wef_date"
														name="wefdate" />

												</div>


											</div>
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label class="form-label">Department Code </label> <label
														style="color: red">*</label> <input type="text"
														class="form-control" id="emp_dept_code" name="deptCode">

												</div>
												<div class="form-group">
													<label class="form-label">Department Name </label> <label
														style="color: red">*</label> <input type="text"
														class="form-control" id="emp_dept_name" name="deptName">

												</div>

												<div class="form-group">
													<label class="form-label">Designation Code </label> <label
														style="color: red">*</label> <input type="text"
														class="form-control" id="desigCode" name="desigCode">

												</div>

												<div class="form-group">
													<label class="form-label">Designation Name </label> <label
														style="color: red">*</label> <input type="text"
														class="form-control" id="emp_desig_name"
														name="emp_desig_name">

												</div>


											</div>
										</div>
										 <div class="form-row">
										 		<div class="container-fluid" style="margin-top: 50px;">
										<div class="card">
											<div class="row">
												<div class="col-md-12 col-sm-3"></div>
												<div class="col-md-12 col-sm-6">
													
													
													<div class="row">
													<div class="form-group sm col-md-4">
															<label>Emp. Ins. No.</label>&nbsp; <input type="text"
																class="input_size" name="empInsuranceNo">
														</div>
													<div class="form-group sm col-md-4">
															<label>PF No.</label>
															
															<input type="text" class="input_size" name="pfNo">
														</div>
														<div class="form-group sm col-md-4">
															<label>Effective Date</label> 
															<input type="text"class="input_size" name="pfEffectiveDate">
														</div>
														
													</div>
													<br>
													<div class="row">
														<div class="form-group sm col-md-4">
															<label>Group Ins. No.</label> <input type="text"
																class="input_size" name="groupInsuranceNo">
														</div>
														<div class="form-group sm col-md-4">
															<label>Emp. ESI No.</label>&nbsp;&nbsp; <input
																type="text" class="input_size" name="empEsiNo">
														</div>
													<div class="form-group sm col-md-4">
															<label>Effective Date</label> <input type="text"
																class="input_size" name="esiEffectiveDate">
														</div>
													</div>
													<br>
													<div class="row">
														<div class="form-group sm col-md-4">
															<label>Arrear Due</label>
															<input type="text" class="input_size" name="arrearDue">
														</div>
														<div class="form-group sm col-md-4">
															<label>Arrear Paid</label>
															<input type="text" class="input_size" name="arrearPaid">
														</div>
														
													</div>
													<br>
												</div>
												<div class="col-md-1 col-sm-3"></div>
											</div>
										</div>
									</div>
								</div>
									<div class="row" >
	                                <div class="col-12">
	                               <div  class="wizard wizard-primary">
	                            
					<div class="container-fluid" style="margin-top: 50px;">
										    <div class="card">
											<div class="row">
											<div class="demo">
											<div role="tabpanel">
											
											<ul class="nav nav-tabs nav-justified nav-tabs-dropdown"role="tablist">
											<li role="presentation" class="active">
											<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Employee Pay Details</a> &nbsp;&nbsp;&nbsp;&nbsp;</li> 
											<li role="presentation">
											<a href="#profile"aria-controls="profile" role="tab" data-toggle="tab">Deductions</a> &nbsp;&nbsp;&nbsp;&nbsp;
											</li><li role="presentation">
											<a href="#messages"aria-controls="messages" role="tab" data-toggle="tab">Allowances Deductions</a> &nbsp;&nbsp;&nbsp;&nbsp;
											</li>
											</ul>
											<div class="tab-content">

																	<!--  tab 1 -->
											<div role="tabpanel" class="tab-pane active" id="home">
											<div class="container-fluid"style="margin-top: 100px;">
											<div class="row">
											<div class="col-md-2"></div>
											<div class="col-md-12">
											<!-- employee pay details -->
											
											<div class="row">
											<div class="col-12 col-lg-6">
											
														<div class="form-group">
														<label class="form-label">Basic Pay*</label>
														<input id="basic_pay_m" type="number" value="0"class="input_size"onkeyup="basicPayCal(this.value);" onchange=""
																						name="basicPay">
														<label class="form-label"> </label>
														<input id="basic_pay_y" type="number" value="0"class="input_size" name="basicPayY">
														</div>
														</div>
															
										                		<div class="form-group">
																<label class="form-label">Addl. Pay</label>&nbsp;&nbsp;&nbsp;&nbsp;
																<input id="addl_pay_m" type="number" value="0"class="input_size"
																onkeyup="basicAditionalCal(this.value);"onchange="">
															    <input id="addl_pay_y" type="number" value="0"class="input_size">
															    </div>
																<div class="col-12 col-lg-6">						
																<div class="form-group">
																			<label class="form-label"> F.D.A.% </label>&nbsp;&nbsp;&nbsp;
																			<input id="fda_m_percent" type="number" value="0"class="sm_input1"
																			onkeyup="fdaPercentMonthly(this.value);"onchange="">
																						
																			<input id="fda_m_percent_result" type="number" value="0"class="sm_input2">
																			<input id="fda_y_percent" type="number" value="0"class="sm_input1">
																			<input id="fda_y_percent_result" type="number" value="0"class="sm_input2">
																			</div>
							</div>															
																<div class="form-group">
																				<label class="form-label">V.D.A.</label>&nbsp;&nbsp;&nbsp;
																				<input type="number" value="0" class="input_size">&nbsp;&nbsp;
																				<input type="number" value="0" class="input_size"><br>
																				</div>
																					
																					
																<div class="form-group">
																					<label class="form-label">HRA Rate (%) </label>
																					<input id="hra_m_percent" type="number" value="0"class="sm_input1" onkeyup="hraPercent(this.value)"
																						onchange="" name="hraRate">
																						<input id="hra_m_percent_result" type="number" value="0"class="sm_input2" name="hraValue">
																						<input id="hra_y_percent" type="number" value="0"class="sm_input1" name="hraRateY">
																						<input id="hra_y_percent_result" type="number" value="0"class="sm_input2" name="hravalueY"><br>
																						</div>
																						
																						
															   <div class="form-group">
																				    	<label class="form-label">LTA Rate (%)  </label>
																					     <input id="lta_m_percent" type="number" value="0"class="sm_input1">
																						<input id="lta_m_percent_result" type="number" value="0"class="sm_input2">
																						<input id="lta_y_percent" type="number" value="0"class="sm_input1">
																						<input id="lta_y_percent_result" type="number" value="0"class="sm_input2">
																						</div>
																						
																						
															    		<div class="form-group">
																						<label class="form-label">Medical  Allowance  </label>
																					     <input id="medical_allow_m" type="number" value="0"class="input_size"onkeyup="medicalAllowanceCal(this.value)"
																						onchange="" name="medicalAllow">&nbsp;&nbsp;
																					    <input id="medical_allow_y" type="number" value="0"class="input_size" name="medicalAllowY"><br>
																				         </div>
																				         
																	     <div class="form-group">
																				    <label  class="form-label">Conveyance  Allowance  </label> 
																					<input id="conveyance_m" type="number" value="0" class="input_size"onkeyup='çonveyanceCal(this.value)' onchange=""name="conveyanceAllow">
																				     <input id="conveyance_y" type="number" value="0"class="input_size" name="conveyanceAllowY">
																					</div>
																						
																		<div class="form-group">
																					 <label class="form-label">Bonus/ Exgratia</label>&nbsp;&nbsp;&nbsp;
																					<input type="number" value="0" class="input_size"onkeyup='bonusCal(this.value)'
																						onchange="totalAllowance()" name="bonus"id="bonus_m">&nbsp;&nbsp;
																						 <input id="bonus_y" type="number" value="0" class="input_size" name="bonusY">
																						</div>
																						
																					
																		<div class="form-group">
																					<label class="form-label">Overtime Rate</label>
																					<select class="sm_input1"><option></option>
																					 </select>&nbsp;&nbsp; <input type="number" value="0"class="sm_input2"><br> <br> 
																						</div>
																						
																						
															      		<div class="form-group">
																					<label  class="form-label">Total   Allowances</label>&nbsp;&nbsp;
																					<input id="total_allowances_m" type="number" value="0" class="input_size" name="totalAllow">&nbsp;&nbsp;
																					<input id="total_allowances_y" type="number" value="0" class="input_size" name="totalAllowY"><br>
																					</div>
																					
																		<div class="form-group">
																					<label class="form-label">Gross(inc. Emp. <br> PF & Emp.ESI)</label>
																					<input type="number" value="0"class="input_size" name="gross" id="grossM">
																					<input type="number" value="0" class="input_size"name="grossY" id="grossY">
																					<br>
																					</div>
																					
																		<div class="form-group">
																					<label class="form-label">Net Pay</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																					<input type="number" value="0" class="input_size"name="netPay" id="net_pay_m">&nbsp;&nbsp;
																					<input type="number" value="0" class="input_size" id="net_pay_y">
																					</div>
																						
																		<div class="form-group">
																					<label class="form-label">CTC</label>&nbsp;&nbsp;																					<input type="number" value="0" class="input_size"id="ctc" name="ctc">&nbsp;&nbsp; 
																						<input type="number" value="0">
																						</div>
																						
																		<div class="form-group">
																					<label class="form-label">CompanyLeased <br>Accomodation</label>
																					<select style="width: 155px;">
																						<option></option>
																					</select> 
																					<input type="submit" value="add">


																					<!-- employee pay details end -->
																				</div>
																		<div class="col-md-2"></div>
																</div>
																		</div>
																	</div>
																	</div>
</div>
																	<!--  tab 1 end -->


																	<!-- TAB 2 DEDUCTION CALCULATION -->
																	<div role="tabpanel" class="tab-pane" id="profile">
																		<div class="container-fluid"
																			style="margin-top: 100px;">
																			<div class="row">

																				<div class="col-md-12 col-sm-12">
																					<div class="col-md-12 col-sm-12"
																						style="margin-bottom: 50px;">
																						<table id="datatables-buttons"aria-describedby="datatables-buttons" class="table table-striped display" style="width:100%">
																					
																							<thead>
																								<tr>
																									<th scope="col"></th>
																									<th scope="col">Monthly Basis</th>
																									<th scope="col">Yearly Basis</th>
																									<td data-label=""></td>


																								</tr>
																							</thead>
																							<tbody>
																								<tr>
																									<td data-label="">FPF %</td>
																									<td data-label=""><input type="radio"
																										name="radioBtn" id="r1" value="r1"
																										onclick='calculateEsiAndEpf()'
																										style="margin-left: 25px;"> Condition
																										Not applicable<br> <input type="radio"
																										name="radioBtn" id="r2" value="r2"
																										onclick='calculateEsiAndEpf()'>
																										Calculated on 15000<br> <input
																										type="radio" name="radioBtn" id="r3"
																										value="r3" onclick='calculateEsiAndEpf()'>
																										Calculated on Actual<br> <input
																										type="radio" name="radioBtn" id="r4"
																										value="r4" style="margin-left: 35px;"
																										onclick='calculateEsiAndEpf()'>
																										Calculated FPF and PF on 15000 and EPF on
																										Actual<br></td>
																								
																									<td data-label=""></td>

																								</tr>

																								<tr>
																									<td data-label="">FPF %</td>
																									<td data-label=""><input type="number"
																										class="sm_input1" id="deduction_fpf_percent"
																										value="0"
																										onkeyup='calculateEsiAndEpfByFpf(this.value)'>&nbsp;&nbsp;
																										<input type="number" class="sm_input4"
																										id="deduction_fpf_m" value="0"></td>
																									<td data-label=""><input type="number"
																										class="sm_input5" id="deduction_fpf_y"
																										value="0"></td>
																									<td data-label=""></td>

																								</tr>

																								<tr>
																									<td data-label="">Pension Fund (%)</td>
																									<td data-label=""><input type="number"
																										class="sm_input1" id="deduction_pf_percent"
																										value='0'
																										onkeyup='calculateEsiAndEpfByPf(this.value)'>&nbsp;&nbsp;

																										<input type="number" class="sm_input4"
																										id="deduction_pf_m" value="0"></td>
																									<td data-label=""><input type="number"
																										class="sm_input5" id="deduction_pf_y"
																										value="0"></td>
																									<td data-label=""></td>

																								</tr>

																								<tr>
																									<td data-label="">EPF (%)</td>
																									<td data-label=""><input type="number"
																										class="sm_input1" id="deduction_epf_percent"
																										value='0'
																										onkeyup='calculateEsiAndEpfByEpf(this.value)'>&nbsp;&nbsp;

																										<input type="number" class="sm_input4"
																										id="deduction_epf_m" value="0"></td>
																									<td data-label=""><input type="number"
																										class="sm_input5" id="deduction_epf_y"
																										value="0"></td>
																									<td data-label=" "><select
																										id='epfDropdown' name='epfChoose'
																										onchange='calculateEpf()'>
																											<option value=''>choose</option>
																											<option value='y'>Yes</option>
																											<option value='n'>No</option>
																									</select></td>
																								

																								</tr>
																								<tr>
																									<td data-label="">ESI</td>

																									<td data-label=" "><input type="number"
																										class="sm_input5" id="deduction_esi_m"
																										value="0"></td>

																									<td data-label=""><input type="number"
																										class="sm_input5" id="deduction_esi_y"
																										value="0"></td>

																									<td data-label=" "><select
																										id='esiDropdown' name='ésiChoose'
																										onchange='calculateEsi()'>
																											<option value=''>choose</option>
																											<option value='y'>Yes</option>
																											<option value='n'>No</option>
																									</select></td>
																							


																								</tr>
																								<tr>
																									<td data-label="">SI</td>

																									<td data-label=" "><input type="number"
																										class="sm_input5" id="deduction_si_m"
																										value="0" onkeyup='calculateSi(this.value)'></td>

																									<td data-label=""><input type="number"
																										class="sm_input5" id="deduction_si_y"
																										value="0"></td>

																									<td data-label=""></td>


																								</tr>
																								<tr>
																									<td data-label="">VPF</td>

																									<td data-label=" "><input type="number"
																										class="sm_input5" id="deduction_vpf_m"
																										value="0" onkeyup="calculateVpf(this.value)"></td>

																									<td data-label=""><input type="number"
																										class="sm_input5" id="deduction_vpf_y"
																										value="0"></td>

																									<td data-label=""></td>


																								</tr>
																								<tr>
																									<td data-label="">Labour Charges</td>

																									<td data-label=" "><input type="number"
																										class="sm_input5" id="deduction_labour_m"
																										value="0"
																										onkeyup="calculateLabour(this.value)"></td>

																									<td data-label=""><input type="number"
																										class="sm_input5" id="deduction_labour_y"
																										value="0"></td>

																									<td data-label=""></td>



																								</tr>
																								<tr>
																									<td data-label="">Insurance Premium</td>

																									<td data-label=" "><input type="number"
																										class="sm_input5" id="deduction_insurance_m"
																										value="0"
																										onkeyup="calculateInsurancePremium(this.value)"></td>

																									<td data-label=""><input type="number"
																										class="sm_input5" id="deduction_insurance_y"
																										value="0"></td>

																									<td data-label=""></td>


																								</tr>
																								<tr>
																									<td data-label="">TDS</td>

																									<td data-label=" "><input type="number"
																										class="sm_input5" id="deduction_tds" value="0"
																										onkeyup="totalDeduction(this.value)"></td>

																									<td data-label=""></td>

																									<td data-label=""></td>


																								</tr>
																								<tr>
																									<td data-label="">Surcharge</td>

																									<td data-label=" "><input type="number"
																										class="sm_input5" id="deduction_surcharge"
																										value="0" onkeyup="totalDeduction(this.value)"></td>

																									<td data-label=""><input type="text"
																										class="sm_input5"
																										id="deduction_surcharge_check"></td>

																									<td data-label=""></td>


																								</tr>
																								<tr>
																									<td data-label="">Education Cess</td>

																									<td data-label=" "><input type="type"
																										class="sm_input5" id="deduction_edu" value="0"
																										onkeyup="totalDeduction(this.value)"></td>

																									<td data-label=""><input type="text"
																										class="sm_input5"></td>

																									<td data-label=""></td>



																								</tr>
																								<tr>
																									<td data-label="">Section Code</td>

																									<td data-label=" "><input type="number "
																										class="sm_input5" id="deduction_section"></td>

																									<td data-label=""><input type="text"
																										class="sm_input5"></td>

																									<td data-label=""></td>

																								</tr>
																								<tr>
																									<td data-label="">Total Deduction</td>

																									<td data-label=" "><input type="number"
																										class="sm_input5" id="deduction_total_m"></td>

																									<td data-label=""><input type="number"
																										class="sm_input5" id="deduction_total_y"></td>

																								</tr>
																								<tr>
																									<td data-label="">CTC</td>

																									<td data-label=" "><input type="number"
																										class="sm_input5" id="deduction_total_ctc"></td>

																									<td data-label=""></td>

																									<td data-label=""></td>
																									

																								</tr>

																							</tbody>
																						</table>
																						<br>

																					</div>

																				</div>
																				<!-- <div class="col-md-2">
    </div> -->
																			</div>
																		</div>
																	</div>

																	<!-- TAB 2 DEDUCTION END -->


																	<!-- tab 3 -->
																	<div role="tabpanel" class="tab-pane" id="messages">
																		<div class="container-fluid">
																			<div class="row">

																				<div class="col-md-12 col-sm-12"
																					style="margin-bottom: 50px;">
																					<table>
																					
																						<thead>
																							<tr>
																								<th scope="col">Code*</th>
																								<th scope="col">Type</th>
																								<th scope="col">Allowances Deductions Names</th>
																								<th scope="col">ESI Effected</th>
																								<th scope="col">Head Desc.</th>
																								<th scope="col">Effect With Work Days</th>
																								<th scope="col">Amount* Monthly Basis</th>
																								<th scope="col">Amount* Yearly Basis</th>
																							</tr>
																						</thead>
																						
																						<tbody>
																							<tr th:each=" listMiscAllowanceDeduction : ${listMiscAllowanceDeduction} " >
																								
																								<td>
																								 <select id="spicealAllowanceCode" name="allowanceCode">
																									<option value=" ">Select</option>
																									<option th:each="emp: ${listMiscAllowanceDeduction}"
																										th:text="${emp.allowanceCode}">${emp.allowanceCode}</option>
																								</select>
																								</td>
																								
																								
																								
																									
																								<td data-label="Allowance-Type"><input name ="type"
																									type="text" class="tab3" th:value="${listMiscAllowanceDeduction.type}" id="allowanceType"></td>
																									
																								<td data-label="Allowance-Account"><input type="text" name="accountName" id="accountName"
																									class="tab3" th:value="${listMiscAllowanceDeduction.accountName}"></td>
																									
																								<td><input type="checkbox" id="allowanceDeductionEsiEffectiveDate"></td>
																								
																								<td><input type="text" class="tab3" th:value="${listMiscAllowanceDeduction.head}" id="head"></td>
																								
																								<td><input type="checkbox" id="allowanceDeductionEffectiveWorkDate"></td>
																								
																								<td><input type="text" class="tab3"></td>
																								
																								<td><input type="text" class="tab3"></td>
																							</tr>
																							
																						
																					</tbody>
																					</table>
																					<br> <a href="#" class="previous">&laquo;
																						Previous</a> <a href="#" class="next">Next &raquo;</a>
																					<a href="#" class="previous round">&#8249;</a> <a
																						href="#" class="next round">&#8250;</a> <a
																						href="#" class="close"></a>


																				</div>

																			</div>
																		</div>
																	</div>

																	<!--  tab3 end -->
																</div>

																<input type="submit" value=" add">

															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>

		
						
	                                </div>
	                              
										
										<button type="submit" class="btn btn-primary">Save</button>
										<button type="reset" class="btn btn-primary" value="Reset">Reset</button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="card">
								<div class="card-header">

									<h6 class="card-subtitle text-muted">DataTables.</h6>
								</div>
								<div class="card-body"></div>

							</div>
						</div>

					</div>
				</div>

			</main>
			<footer class="footer">
				<div th:replace="fragments/footer :: div"></div>
			</footer>
		</div>
	</div>
	<script>
		$(function() {
			$("input[name='wefdate']").daterangepicker({
					singleDatePicker: true,
				    autoApply: true,
					locale: {
			            format: 'YYYY/MM/DD'
			        },
					showDropdowns: true
				});
			
			$("input[name='pfEffectiveDate']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
			$("input[name='esiEffectiveDate']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
		            format: 'YYYY/MM/DD'
		        },
				showDropdowns: true
			});
		});
	</script>
	<script
		src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>



</body>
</html>