<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>


<style>


body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #676565;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 100;
}
</style>
<script>
$(document).ready(function(){

    var i=1;
   $("#add_row").click(function(){
    $('#addr'+i).html("<td><select class=' form-control input-md' id='modeOfTravel'name='modeOfTravel"+i+"'><option value=' '>Select</option></select></td>"+
    		"</td><td><input  name='startPlace"+i+"' type='text' placeholder='Name'  class='form-control input-md'>"+
    		"</td><td><input  name='vistPlace"+i+"' type='text'  placeholder='Father Name'class='form-control input-md'>"+
    		"</td><td><input  name='purposeOfVist"+i+"' type='text' placeholder='Employee Pay Code'  class='pas form-control input-md'></td>"+
    		
    	
    		"<td><input  name='distanceKm"+i+"' type='text' placeholder='Status'  class='form-control input-md'></td>"+
    		
    		
    		"");

    $('#example').append('<tr id="addr'+(i+1)+'"></tr>');
    $('#_cr').val(i+1);
    
    i++; 
});
   
   
   $("#delete_row").click(function(){
	  	 if(i>1){
			 $("#addr"+(i-1)).html('');
			 $('#_cr2').val(i - 1);
			 i--;
			 calculateSum(),calculateSumtotalPassing()
			 }
		 });
   
   
  
  
   
   
  
function calculateSum() {

    var sum = 0;
    //iterate through each textboxes and add the values
    $(".txt").each(function () {

        //add only if the value is number
        if (!isNaN(this.value) && this.value.length != 0) {
            sum += parseFloat(this.value);
        }

    });
    //.toFixed() method will roundoff the final sum to 2 decimal places
   var fds=sum;
   //$("#").html(sum.toFixed(2));
   $("#totalClaim").val(sum);
    
}

$("table").on("keyup", ".txt", function () {
    calculateSum();
});


function calculateSumtotalPassing() {

    var sum = 0;
    //iterate through each textboxes and add the values
    $(".pas").each(function () {

        //add only if the value is number
        if (!isNaN(this.value) && this.value.length != 0) {
            sum += parseFloat(this.value);
        }

    });
    //.toFixed() method will roundoff the final sum to 2 decimal places
   var fds=sum;
   //$("#").html(sum.toFixed(2));
   $("#totalPas").val(sum);
    
}

$("table").on("keyup", ".pas", function () {
	calculateSumtotalPassing();
});







});

</script>
<script>



	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
 
<body>

<div class="wrapper">
<nav id="sidebar" class="sidebar">
 <div th:replace="/fragments/sidebar :: div"></div>
 </nav>
 		
		<div class="main">
		<div th:replace="/fragments/header ::div"></div>
		<main class="content">
		<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">
							Personal
						</h1>
						
					
					</div>
					<form id="validation-form" action="#"  th:action="@{/saveLocalConvyence}" th:object="${localConvyence}" method="post">
				              	<div class="row">
					
							<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Induction Training</h5>
								<div class="alert-outline">
									<div th:if="${message}" th:text="${message}" style="color: red">
									</div> 
									</div>	
								</div>
								<div class="card-body">
								
								<div class="form-row">
											<div class="form-group sm col-md-4">
											  <label class="form-label">Department Code </label>
												<label style="color: red">*</label>
												<select class="form-control select2" name="empCode" id="empCode" onchange="myFunctionEmpCode()" required aria-required="true">
												 <option value="">Select </option>
												<option th:each="e :${listEmployee}"th:value="${e.getEmpCode()}" th:text="${e.getEmpName()}"></option>
											     	</select>

												</div>	
											
										    	<div class="form-group sm col-md-4">
													<label class="form-label">Employee Code</label>
												<label style="color: red">*</label>
												<select class="form-control select2" name="empCode" id="empCode" onchange="myFunctionEmpCode()" required aria-required="true">
												 <option value="">Select </option>
												<option th:each="e :${listEmployee}"th:value="${e.getEmpCode()}" th:text="${e.getEmpName()}"></option>
											     	</select>

												</div>
										     
										
												<div class="form-group sm col-md-4">
													<label class="form-label">Department Name  </label>
												<label style="color: red">*</label>
												<input Type="text" class="form-control " name="deptName" id="empCode" required aria-required="true">
												
											     
												</div>
												
												
								</div>
									<div class="form-row">
												
												<div class="form-group sm col-md-4">
													<label class="form-label">Contact Person Code </label>
												<label style="color: red">*</label>
												<select class="form-control select2" name="empCode" id="empCode" onchange="myFunctionEmpCode()" required aria-required="true">
												 <option value="">Select </option>
												<option th:each="e :${listEmployee}"th:value="${e.getEmpCode()}" th:text="${e.getEmpName()}"></option>
											     	</select>

												</div>
										
										
										<div class="form-group sm col-md-4">
										<label class="form-label">Contact Person Name </label>
										<input Type="text" class="form-control " name="empCode" id="empCode"  required aria-required="true">
										</div>
											<div class="form-group sm col-md-4">
										<label class="form-label">Induction Date </label>
										<label style="color: red">*</label>
										<input Type="text" class="form-control " name="localConvDate" id="localConvDate" required aria-required="true">
										</div>
								</div>
								
				
				
													<div class="form-row">
												
												
												
										<div class="form-group sm col-md-4">
												<label class="form-label">Duration</label>
												<select class="form-control Select"name="modeOfTravel0" id="modeOfTravel0">
												<option value="">Select Type</option>
												<option th:Value="1">1St Half </option>
												<option th:Value="2">2nd Half</option>
												<option th:Value="3">Full day</option>
													</select>
												</div>
										
													</div>
										
											<button type="submit" class="btn btn-primary">Save</button>&nbsp;
	                     &nbsp;
					<button type="reset"class="btn btn-primary" value="Reset">Reset</button>	
						      </div>
						      
	                      </div>
	                      </div>
	                      
	                      
	                <!--      <div class="col-12">
	                     	<div class="card">
	                      <div class="card-header">
								</div>
								<div class="card-body">
								<input id="_cr" name="_cr" type="hidden"value="1">
								<div class="col-sm-12" align="right">
								
								<a id="add_row" class="fa fa-plus" aria-hidden="true"style="font-size:28px;color:#001080"></a>&nbsp;&nbsp;&nbsp;
								<a id='delete_row'class="fa fa-trash" style="font-size:28px;color:#399490fc"aria-hidden="true"></a>	
								</div>
								<div class="table-responsive">
											<table id="example" aria-describedby="example" class="table" style="width:100%">
											<thead>
												<tr>
													<th>Employee Code.</th>
													<th>Employee Name.</th>
													<th>Father Name</th>
													<th>Employee Pay Code</th>
													<th>Status</th>
													
													
												</tr>
											</thead>
											<tbody>
												<tr id='addr0'>
	                                            <td><select name="modeOfTravel0" id="modeOfTravel0"><option value="">Select Type</option>
													</select></td>
													<td><input type="text" name='startPlace0'placeholder='Employee Name'  /></td>
													<td><input type="text" name='vistPlace0'placeholder='Father Name' /></td>
													<td><input type="text" name='purposeOfVist0'placeholder='Employee Pay Code'/></td>
													<td><input type="text" name='actualAmount0'placeholder='Status' /></td>
												
												</tr>
												<tr id='addr1'></tr>

											</tbody>


											

										</table>
</div>

									</div>
								
								
	                     
	                     
	                     </div>
	                     </div> -->
					</div>
				<!-- 	<button type="submit" class="btn btn-primary">Save</button>&nbsp;
	                     &nbsp;
					<button type="reset"class="btn btn-primary" value="Reset">Reset</button> -->
</form>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<div class="col-12">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
									<table id="datatables-buttons" class="table table-striped display" style="width:100%"aria-describedby="example">
										<thead>
											<tr >
												<th scope="col">Induction Id </th>
												<th scope="col">Employee Name </th>
												<th scope="col">Department Name</th>
												<th scope="col">Duration</th>
												<!-- <th scope="col">Tour Pan Date </th> -->
												<th scope="col">Action </th>
											</tr >
											


										</thead>
										<tbody>
										<!-- <tr th:each = "listOfloc : ${listOfLoc}">
										<td th:text="${listOfloc.localConvId}" ></td>
										<td th:text="${listOfloc.empName}"></td>
										<td  th:text="${listOfloc.deptName}"></td>
										<td  th:text="${listOfloc.desgName}"></td>
										<td  th:text="${tourPlan.tourPlanDate}"></td>
										  <td>
										  <a th:href="@{/editLocalConvyence/{id}/(id=${listOfloc.localConvId})}"><em class="fa fa-edit"></em></a>
										  
										     <a th:href="@{/deleteLocalConveyance/{id}/(id=${listOfloc.localConvId})}"onclick="return confirm('Are you sure?')"><em class="fa fa-times"></em></a>
									
									
										</td>  
									
										</tr> -->
									
									
										</tbody>
									
									</table>
								</div>
								
							</div>
						</div>
				</div>
			
		</main>
		<footer class="footer">
		<div th:replace="/fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
		

	<script>
		$(function() {

			$("input[name='localConvDate']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
		            format: 'DD/MM/YYYY'
		        },
				showDropdowns: true
			});
			
	
		



			
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scrollX: true,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
		
	</script>
			
		<script>
	$(document).ready(function() {
	    $('#example').DataTable( {
	        "scrollY": 200,
	        "scrollX": true,
	        deferRender:true,
            scrollCollapse: true,
            
	    } );
	} );
	</script>

	

	<script>
	function myFunctionEmpCode(){
/* 		 var empCode= $('#empCode option:selected').value; */
		 var empCode= document.getElementById('empCode').value
	    console.log("ajax request : "+ empCode);
	    const xhr = new XMLHttpRequest();
	    xhr.open('GET','./viewEmployeeDetails/'+empCode,true);
	    xhr.getResponseHeader('content-type','application/json');
	    xhr.onload = function(){
	        if(this.status===200){
	            let obj = JSON.parse(this.responseText);
	            console.log(obj);
	            $('#empName').val(obj.empName);
	            $('#deptName').val(obj.deptName);
	            $('#desgName').val(obj.desgName);
	            $('#empPayCode').val(obj.empPayCode);
	        }
	        else{
	            console.error("some error occured");
	        }
		
	    }
	    xhr.send();
	}



	
	</script>
	






	<script>
		$('#loading').show();
		$.ajax({
			// Other ajax parameters
			success : function() {
				// hiding the image here
				debugger;
				$('#loading').hide();
			}
		});
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

</body>
</html>