<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>
<style>
body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
<body>
<div class="wrapper">
<nav id="sidebar" class="sidebar">
 <div th:replace="/fragments/sidebar :: div"></div>
 </nav>
<div class="main">
			<div th:replace="/fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title"> Master</h1>
						<nav aria-label="breadcrumb">
						</nav>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title"> Create Program Master</h5>

								</div>
								<div class="card-body">
									<form id="validation-form" action="#" th:action="@{/saveProgram}" th:object="${program}" method="post">										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label> Program Code </label> 
													<label style="color: red">*</label>
													<input type="text" class="form-control" id="programCode" maxlength="12"  title="Program Code" name="programCode"required>
												</div>
												<div class="mb-3">
														<label class="form-label">Module</label>
															<label style="color: red">*</label>
													   <select class="form-control select2" name="dmoduleCode"id="dmoduleCode" required aria-required="true">
												    <option value="">Select Module</option>
													<option   th:each="module: ${modulesList}" th:value="${module.getModuleCode()}" th:text="${module.getModuleName()}"></option>
											     	</select>
										   			</div>


												<div class="form-group">
													<label style="color: red">*</label> <label
														class="form-label">Program Type </label>
														 <select class="form-control" name="programType" id="programType">
														<option value="P">P</option>
														<option value="R">R</option>
													</select>
												</div>

													<div class="form-group">

													<label class="form-label">Status</label>
													<div class="custom-controls-stacked">
														<label class="radio-inline"> <input type="radio"
															value="Y" name="activeYn" checked> Active &nbsp;&nbsp;
														</label> <label class="radio-inline"> <input type="radio"
															value="N" name="activeYn"> Inactive
														</label>

													</div>
												</div>

											</div>
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label style="color: red">*</label> 
													<label>Program Name</label> 
													<input type="text" class="form-control"name="programName" maxlength="30" title="Program Name" id="programName"required>

												</div>
														<div class="mb-3">
														<label class="form-label">Sub Module</label>
															<label style="color: red">*</label>
													   <select class="form-control select2" name="dsubMouduleCode"id="dsubMouduleCode" required aria-required="true">
												    <option value="">Select Sub Module</option>
								<option th:each="submodule: ${subModulesList}" th:value="${submodule.getSubModuleCode()}" th:text="${submodule.getSubModuleName()}"></option>
											     	</select>
										   			</div>
							
												
												<div class="form-group">
													<label style="color: red">*</label> 
													<label>Program Href</label> 
														<input type="text" class="form-control"id="programHrefName"name="programHrefName"required>
												</div>

												<div class="form-group">
													<label>Sequence No</label> 
													<input type="text" class="form-control" id="seqProgram" name="seqProgram"required>
												</div>

											</div>

										</div>
										<button type="submit" class="btn btn-primary">Save</button>
									 <button type="reset"class="btn btn-primary" value="Reset">Reset</button>

									</form>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
								
										<table id="datatables-buttons" class="table table-striped display" style="width:100%">
										<thead>
											<tr>
												<th>Program code</th>
												<th>Program Name </th>
												<th>module Code </th>
												<th>Sub module Code </th>
												<th>Status</th>
												<th>Action</th>
												
											</tr>
										</thead>
										<tbody>
											<tr  th:each="listofgrade : ${listpPrograms}">
												<td th:text="${listofgrade.programCode}"></td>
												<td th:text="${listofgrade.programName}"></td>
												<td th:text="${listofgrade.pModuleCode.moduleCode}"></td>
												<td th:text="${listofgrade.subModuleCode.subModuleCode}"></td>
												<td th:text="${listofgrade.activeYn}"></td>
												<td><a th:href="@{/editProgram/{id}(id=${listofgrade.programCode})}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
												<a th:href="@{/deleteProgram/{id}(id=${listofgrade.programCode})}" class="btn btn-primary"onclick="return confirm('Are you sure?')"><i class="fa fa-times"></i></a>
												</td>
											</tr>
										</tbody>
									
									</table>
								</div>
							</div>
						</div>
					</div>


				</div>
			</main>

		<footer class="footer">
		<div th:replace="/fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
	<script>
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scroller: false,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>
		
		
</body>
</html>