<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>


<style>


body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #676565;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 100;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
 
<body>

<div class="wrapper">
<nav id="sidebar" class="sidebar">
 <div th:replace="/fragments/sidebar :: div"></div>
 </nav>
 		
		<div class="main">
		<div th:replace="/fragments/header ::div"></div>
		<main class="content">
		<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">
							Personal
						</h1>
						
					
					</div>
					<div class="row">
							<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Tour Claim </h5>
								<div class="alert-outline">
									<div th:if="${message}" th:text="${message}" style="color: red">
									</div> 
									</div>	
								</div>
								<div class="card-body">
									<div class="form-row">
												<div class="form-group sm col-md-4">
												
													<label class="form-label">Tour Id <span
														class="text-danger">*</span>
													</label> <input name="empCode" type="text" id="empCode"
														class="form-control"readonly>
												</div>
											<div class="form-group sm col-md-4">
											       <label class="form-label">Tour Claim Date
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="empName"name="empName" title="Name"onkeyup="sync()"maxlength="50" pattern="^[a-zA-Z\s]*$" class="form-control required">
										     </div>
										     	
											<div class="form-group sm col-md-4">
													<label class="form-label">Employee Code</label>
												<label style="color: red">*</label>
												<select class="form-control select2"onchange="myFunction()" name="empCode"id="empCode" required aria-required="true">
												 <option value="">Select Employee</option>
												<option th:each="e :${listEmployee}"th:value="${e.getEmpCode()}" th:text="${e.getEmpName()}"></option>
											     	</select>

												</div>
												
												
								</div>
									<div class="form-row">
												<div class="form-group sm col-md-4">
												<label class="form-label">Designation</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="designationCode" id="designationCode">
														<option value="">Select Type</option>
														<option th:each="des :${listDesignation}" th:value="${des.getDesgCode()}" th:text="${des.getDesgName()}"></option>
														
													</select>
												
												</div>
												
												<div class="form-group sm col-md-4">
												<label class="form-label">Department</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="designationCode" id="designationCode">
														<option value="">Select Type</option>
														<option th:each="des :${listDesignation}" th:value="${des.getDesgCode()}" th:text="${des.getDesgName()}"></option>
														
													</select>
												
												</div>
													<div class="form-group sm col-md-4">
												<label class="form-label">Tour Plan Id</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="designationCode" id="designationCode">
														<option value="">Select Type</option>
														<option th:each="des :${listDesignation}" th:value="${des.getDesgCode()}" th:text="${des.getDesgName()}"></option>
														
													</select>
												
												</div>
												
												</div>
												
												
												<div class="form-row">
												
												<div class="form-group sm col-md-4">
											       <label class="form-label">Tour Plan Date</label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="empDob"name="empDob"  class="form-control required">
											      </div>
											      
											      <div class="form-group sm col-md-4">
											       <label class="form-label">Start Place</label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="startPlace"name="startPlace"  class="form-control required">
											      </div>
											      <div class="form-group sm col-md-4">
											       <label class="form-label">Visit Place </label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="visitPlace"name="visitPlace"  class="form-control required">
											      </div>
												</div>
												
													<div class="form-row">
													 <div class="form-group sm col-md-4">
											       <label class="form-label">Advance Paid </label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="advPaid"name="advPaid"  class="form-control required">
											      </div>
											       <div class="form-group sm col-md-4">
											       <label class="form-label">Visit Purpose </label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="visitPlace"name="visitPlace"  class="form-control required">
											      </div>
													
													
													</div>
												
												
												
							</div>
						</div>
	              <div class="col-12">
		<form id="smartwizard-validation" enctype="multipart/form-data" class="wizard wizard-primary" th:action="@{/saveEmployee}" th:object="${employees}" method="post">
		
			<ul>
			<li><a href="#validation-step-1"><br /><small>Traveling Expenses</small></a></li>
			<li><a href="#validation-step-2"><br /><small>Conveyance  Expenses </small></a></li>
			<li><a href="#validation-step-3"><br /><small>Staying Expenses </small></a></li>

								</ul>
								<div>
								
                         <div id="validation-step-1">
									     
										<div class="form-row">
												<div class="form-group sm col-md-4">
												
													<label class="form-label">From Date <span
														class="text-danger">*</span>
													</label> <input name="frmDate" type="text" id="frmDate"title="From Date"
														class="form-control required">
												</div>
											<div class="form-group sm col-md-4">
											       <label class="form-label">From Time
											       <span class="text-danger">*</span></label>
							                 <input  type="time"id="frmTim"name="frmTim" title="From Time"onkeyup="sync()"maxlength="50" pattern="^[a-zA-Z\s]*$" class="form-control required">
										     </div>
										     	
											<div class="form-group sm col-md-4">
													<label class="form-label">Start place <span
														class="text-danger">*</span>
													</label> <input name="employeePayeeCode" type="text" id="employeePayeeCode" maxlength="50" title="Start place"
														class="form-control required">
												</div>
												</div>
												
												
												
											<div class="form-row">	
											<div class="form-group sm col-md-4">
												
													<label class="form-label">To Date <span
														class="text-danger">*</span>
													</label> <input name="toDate" type="text" id="toDate" title="To Date"
														class="form-control required">
												</div>
												<div class="form-group sm col-md-4">
											       <label class="form-label">To Time
											       <span class="text-danger">*</span></label>
							                 <input   type="time" id="frmTim" name="frmTim" title="To Time"  class="form-control required">
										     </div>
											
											
												 <div class="form-group sm col-md-4">
													<label class="form-label">Mode</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="designationCode" id="designationCode">
														<option value="">Select Type</option>
														<option  th:Value="taxi">Taxi</option>
														<option  th:Value="car">Car</option>
														<option  th:Value="bus">Bus</option>
														<option  th:Value="train">Train</option>
														
														
													</select>
												  </div>
											</div>	
											
											
											
												<div class="form-row">	
												    	
											<div class="form-group sm col-md-4">
													<label class="form-label">Total Amount Expenses  <span
														class="text-danger">*</span>
													</label> <input name="employeePayeeCode" type="text" id="employeePayeeCode" pattern="\d{1,10}" title="Only digits"maxlength="10" 
														class="form-control required">
												</div>
												</div>
												
										
									
						          	</div>
									<div id="validation-step-2">
							
										
											
											
											
											
											
										
										
											
											
											
											
										  
											 
											  
											  
											  
											 
											      
											      
											     
											    

									</div>


									<div id="validation-step-3">
									 
									  <div class="form-row">
									  
									  <div class="form-group sm col-md-4">
											   <label class="form-label">Arms Code   </label>
											      
							                 <input  type="text"id="armsCode"name="armsCode"  class="form-control"readonly>
										     </div>
									  
									  
									              <div class="form-group sm col-md-4">
											       <label class="form-label"> Name
											       </label>
							                 <input  type="text"id="name"name="name" maxlength="40"title=" Name"  pattern="^[a-zA-Z\s]*$"class="form-control">
										     </div>
									  
										       <div class="form-group sm col-md-4">
											       <label class="form-label">Father Name
											       </label>
							                 <input  type="text"id="fatherName"name="fatherName" maxlength="40"title="Father Name"  pattern="^[a-zA-Z\s]*$"class="form-control">
										     </div>
										      
										     
										     
									  </div>
									  
									   <div class="form-row">
									     <div class="form-group sm col-md-4">
											       <label class="form-label">City District
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="district"name="district"maxlength="40" title="District" pattern="^[a-zA-Z\s]*$" class="form-control required">
										     </div>
										       <div class="form-group sm col-md-4">
											       <label class="form-label">State
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="state"name="state" title="State" maxlength="30"pattern="^[a-zA-Z\s]*$" class="form-control required">
										     </div>
										      <div class="form-group sm col-md-4">
											       <label class="form-label">Address
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="addressArms"name="addressArms"maxlength="60" title="Address" class="form-control required">
										     </div>
										     
										     
										     
										    
									  </div>
									  
									 
									  
									  
									   
									    
									    
									     
									   
									 <button type="submit" class="btn btn-primary">Save</button>
										
                              </div>
                     
                     
                     
                     
								</div>

	
	</form>
			</div>
				  <div class="col-12">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
								<table id="datatables-buttons"aria-describedby="datatables-buttons" class="table table-striped display" style="width:100%">
										<thead>
											<!-- <tr>
												<th scope="col">Employee  Id</th>
												<th scope="col">Arms Code </th>
													<th scope="col">Employee Name</th>
												<th scope="col">Category Name</th>
												<th scope="col">Department Name</th>
												<th scope="col">Designation  </th>
												<th scope="col">employee images</th>
												<th scope="col">Action</th>
												
											</tr> -->
										</thead>
										<tbody>
									
										
											  
										
										</tbody>
									
									</table>
								</div>
								
							</div>
						</div>
					</div>

				</div>
		</main>
		<footer class="footer">
		<div th:replace="/fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
	<script>
		$(function() {

			$("input[name='empDob']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
		            format: 'DD/MM/YYYY'
		        },
				showDropdowns: true
			});
			
		$("input[name='dateOfPosting']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
		            format: 'DD/MM/YYYY'
		        },
				showDropdowns: true
			});
		$("input[name=\"dateOfJoining\"]").daterangepicker({
			singleDatePicker: true,
			   autoApply: true,
			locale: {
				format: 'DD/MM/YYYY'
	        },
			showDropdowns: true
		});
		$("input[name='dateOfRetirement']").daterangepicker({
			singleDatePicker: true,
		    autoApply: true,
			locale: {
				format: 'DD/MM/YYYY'
	        },
			showDropdowns: true
		});
		$("input[name='batchYear']").datepicker({
			
		    autoApply: true,
		    format: "yyyy",
		    autoclose: true,
		    minViewMode: "years",
			locale: {
	            format: 'YYYY'
	        },
			showDropdowns: true
		});
			
		
		$("input[name=\"orderDate\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
					format: 'DD/MM/YYYY'
		        },
				showDropdowns: true
			});
		
		$("input[name=\"dov\"]").daterangepicker({
			singleDatePicker: true,
			   autoApply: true,
			locale: {
				format: 'DD/MM/YYYY'
	        },
			showDropdowns: true
		});
		$("input[name=\"doi\"]").daterangepicker({
			singleDatePicker: true,
			   autoApply: true,
			locale: {
				format: 'DD/MM/YYYY'
	        },
			showDropdowns: true
		});



			
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scroller: false,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
		
	</script>
	
		<script>
		$(function() {
			$("#smartwizard-default-primary").smartWizard({
				theme: "default",
				showStepURLhash: false
			});

			
			// Validation
			var $validationForm = $("#smartwizard-validation");
			$validationForm.validate({
				errorPlacement: function errorPlacement(error, element) {
					$(element).parents(".form-group").append(
						error.addClass("invalid-feedback small d-block")
					)
				},
				highlight: function(element) {
					$(element).addClass("is-invalid");
				},
				unhighlight: function(element) {
					$(element).removeClass("is-invalid");
				},
				rules: {
					"wizard-confirm": {
						equalTo: "input[name=\"wizard-password\"]"
					}
				}
			});
			$validationForm.smartWizard({
					autoAdjustHeight: false,
					backButtonSupport: false,
					useURLhash: false,
					showStepURLhash: false,
					
				})
				.on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
					if (stepDirection === "forward") {
						return $validationForm.valid();
					}
					return true;
				});
			/* $validationForm.find(".btn-submit").on("click", function() {
				if (!$validationForm.valid()) {
					return;
				}
				
				return false;
			}); */
		});
	</script>

	<script type="text/javascript">
		function changetextbox() {
			if (document.getElementById("onDeputation").value === "Y")

			{
				document.getElementById("empDeputation").disabled = 'true';

			} else {

				document.getElementById("empDeputation").disabled = '';
			}

		}
	</script>


	<script type='text/javascript'>
		function preview_image(event) {
			var reader = new FileReader();
			reader.onload = function() {
				var output = document.getElementById('output_image');
				output.src = reader.result;
			}
			reader.readAsDataURL(event.target.files[0]);
		}
	</script>

	<script>
		function sync() {
			var n1 = document.getElementById('empName');
			var n2 = document.getElementById('name');
			n2.value = n1.value;
		}
	</script>
	<script>
		function syncAddress() {
			var n1 = document.getElementById('address1');
			var n2 = document.getElementById('addressArms');
			n2.value = n1.value;
		}
	</script>
	<script>
 function myFunctionState(){
   $('#stateCode').click(function() {
      	 var name= $('#stateCode option:selected').text();
      	$('#state').val(name);
      	}); 
      }
      
</script>

<script>
 function myFunctionCity(){
   $('#cityCode').click(function() {
      	 var name= $('#cityCode option:selected').text();
      	$('#district').val(name);
      	}); 
      }
      
</script>



	<script>
		$('#loading').show();
		$.ajax({
			// Other ajax parameters
			success : function() {
				// hiding the image here
				debugger;
				$('#loading').hide();
			}
		});
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


</body>
</html>