<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>


<style>


body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #676565;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 100;
}
</style>
<script>
$(document).ready(function(){

    var i=1;
   $("#add_row").click(function(){
    $('#addr'+i).html("<td><input name='medStDr"+i+"' type='Date'  class='form-control txt input-md'/> "+
    		"</td><td><input  name='caseMemoNo"+i+"' type='text' placeholder='Case Memo No'  class='form-control input-md'>"+
    		"</td><td><input  name='caseMemoDate"+i+"' type='Date'class='form-control input-md'>"+
    		"</td><td><input  name='passedAmount"+i+"' type='text' placeholder='Vist Place'  class='pas form-control input-md'></td>"+
    		
    		"<td><select class=' form-control input-md' id='modeOfTravel'name='modeOfTravel"+i+"'><option value=' '>Select</option><option value='taxi'>Taxi</option><option value='car'>Car</option></select></td>"+
    		
    		"<td><input  name='remark"+i+"' type='text' placeholder='Ticket No'  class='form-control input-md'></td>"+
    		"<td><input  name='compPaid"+i+"' type='text' placeholder='Company Paid'  class='form-control input-md'></td>"+
    		"<td><input  name='selfPaid"+i+"' type='text' placeholder='Self Paid'  class='form-control input-md'></td>"+
    		"");

    $('#tab1').append('<tr id="addr'+(i+1)+'"></tr>');
    $('#_cr').val(i+1);
    
    i++; 
});
   
   
   $("#delete_row").click(function(){
	  	 if(i>1){
			 $("#addr"+(i-1)).html('');
			 $('#_cr2').val(i - 1);
			 i--;
			 calculateSum(),calculateSumtotalPassing(),calculateSumtotalgovt()
			 }
		 });
   
   
   var J=1;
   
   $("#tab2_AddRow").click(function(){
	    $('#addrtabsecond'+J).html("<td><input name='medStDr"+J+"' type='Date'  class='form-control txt input-md'/> "+
	    		"</td><td><input  name='caseMemoNo"+J+"' type='text' placeholder='Case Memo No'  class='form-control input-md'>"+
	    		"</td><td><input  name='caseMemoDate"+J+"' type='Date'class='form-control input-md'>"+
	    		"</td><td><input  name='passedAmount"+J+"' type='text' placeholder='Vist Place'  class='pas form-control input-md'></td>"+
	    		"<td><select class=' form-control input-md' id='modeOfTravel'name='modeOfTravel"+i+"'><option value=' '>Select</option><option value='taxi'>Taxi</option><option value='car'>Car</option></select></td>"+
	    		"<td><input  name='remark"+J+"' type='text' placeholder='Amount'  class='form-control input-md'></td>"+
	    		
	    		"");

	    $('#tab2').append('<tr id="addrtabsecond'+(J+1)+'"></tr>');
	    $('#_cr2').val(J+1);
	    
	    J++; 
	});
   $("#tab2_delete").click(function(){
	  	 if(J>1){
			 $("#addrtabsecond"+(J-1)).html('');
			 $('#_cr2').val(J - 1);
			 J--;
			 
			 }
		 });
	
   
  
   var K=1;
   
   $("#tab3_AddRow").click(function(){
	    $('#addrowthired'+K).html("<td><input name='medStDr"+K+"' type='text'  class='form-control  input-md'/> "+
	    		"</td><td><input  name='caseMemoNo"+K+"' type='Date' placeholder='Case Memo No'  class='form-control input-md'>"+
	    		"</td><td><input  name='passedAmount"+K+"' type='text' placeholder='Expenses'  class='pas form-control input-md'></td>"+
	    		"");

	    $('#tab3').append('<tr id="addrowthired'+(K+1)+'"></tr>');
	    $('#_cr3').val(K+1);
	    
	    K++; 
	});
   
   
   $("#tab3_delete").click(function(){
	  	 if(i>1){
			 $("#addrowthired"+(K-1)).html('');
			 $('#_cr3').val(K - 1);
			 K--;
			
			 }
		 });
   
   
   
   
   
function calculateSum() {

    var sum = 0;
    //iterate through each textboxes and add the values
    $(".txt").each(function () {

        //add only if the value is number
        if (!isNaN(this.value) && this.value.length != 0) {
            sum += parseFloat(this.value);
        }

    });
    //.toFixed() method will roundoff the final sum to 2 decimal places
   var fds=sum;
   //$("#").html(sum.toFixed(2));
   $("#sum").val(sum);
    
}

$("table").on("keyup", ".txt", function () {
    calculateSum();
});





function calculateSumtotalPassing() {

    var sum = 0;
    //iterate through each textboxes and add the values
    $(".pas").each(function () {

        //add only if the value is number
        if (!isNaN(this.value) && this.value.length != 0) {
            sum += parseFloat(this.value);
        }

    });
    //.toFixed() method will roundoff the final sum to 2 decimal places
   var fds=sum;
   //$("#").html(sum.toFixed(2));
   $("#totalPassing").val(sum);
    
}

$("table").on("keyup", ".pas", function () {
	calculateSumtotalPassing();
});




});

</script>
<script>



	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
 
<body>

<div class="wrapper">
<nav id="sidebar" class="sidebar">
 <div th:replace="/fragments/sidebar :: div"></div>
 </nav>
 		
		<div class="main">
		<div th:replace="/fragments/header ::div"></div>
		<main class="content">
		<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">
							Personal
						</h1>
						
					
					</div>
					<div class="row">
							<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Tour Claim </h5>
								<div class="alert-outline">
									<div th:if="${message}" th:text="${message}" style="color: red">
									</div> 
									</div>	
								</div>
								<div class="card-body">
									<div class="form-row">
												<div class="form-group sm col-md-4">
												
													<label class="form-label">Tour Id <span
														class="text-danger">*</span>
													</label> <input name="empCode" type="text" id="empCode"
														class="form-control"readonly>
												</div>
											<div class="form-group sm col-md-4">
											       <label class="form-label">Tour Claim Date
											       <span class="text-danger">*</span></label>
							                 <input  type="text"id="empName"name="empName" title="Name"onkeyup="sync()"maxlength="50" pattern="^[a-zA-Z\s]*$" class="form-control required">
										     </div>
										     	
											<div class="form-group sm col-md-4">
													<label class="form-label">Employee Code</label>
												<label style="color: red">*</label>
												<select class="form-control select2"onchange="myFunction()" name="empCode"id="empCode" required aria-required="true">
												 <option value="">Select Employee</option>
												<option th:each="e :${listEmployee}"th:value="${e.getEmpCode()}" th:text="${e.getEmpName()}"></option>
											     	</select>

												</div>
												
												
								</div>
									<div class="form-row">
												<div class="form-group sm col-md-4">
												<label class="form-label">Designation</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="designationCode" id="designationCode">
														<option value="">Select Type</option>
														<option th:each="des :${listDesignation}" th:value="${des.getDesgCode()}" th:text="${des.getDesgName()}"></option>
														
													</select>
												
												</div>
												
												<div class="form-group sm col-md-4">
												<label class="form-label">Department</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="designationCode" id="designationCode">
														<option value="">Select Type</option>
														<option th:each="des :${listDesignation}" th:value="${des.getDesgCode()}" th:text="${des.getDesgName()}"></option>
														
													</select>
												
												</div>
													<div class="form-group sm col-md-4">
												<label class="form-label">Tour Plan Id</label> <span
														class="text-danger">*</span> <select
														class="form-control required" name="designationCode" id="designationCode">
														<option value="">Select Type</option>
														<option th:each="des :${listDesignation}" th:value="${des.getDesgCode()}" th:text="${des.getDesgName()}"></option>
														
													</select>
												
												</div>
												
												</div>
												
												
												<div class="form-row">
												
												<div class="form-group sm col-md-4">
											       <label class="form-label">Tour Plan Date</label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="empDob"name="empDob"  class="form-control required">
											      </div>
											      
											      <div class="form-group sm col-md-4">
											       <label class="form-label">Start Place</label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="startPlace"name="startPlace"  class="form-control required">
											      </div>
											      <div class="form-group sm col-md-4">
											       <label class="form-label">Visit Place </label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="visitPlace"name="visitPlace"  class="form-control required">
											      </div>
												</div>
												
													<div class="form-row">
													 <div class="form-group sm col-md-4">
											       <label class="form-label">Advance Paid </label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="advPaid"name="advPaid"  class="form-control required">
											      </div>
											       <div class="form-group sm col-md-4">
											       <label class="form-label">Visit Purpose </label>
											       <span class="text-danger">*</span>
											       <input  type="text"id="visitPlace"name="visitPlace"  class="form-control required">
											      </div>
													
													
													</div>
												
												
												
							</div>
						</div>
	              <div class="col-12">
		<form id="smartwizard-validation" enctype="multipart/form-data" class="wizard wizard-primary" th:action="@{/saveEmployee}" th:object="${employees}" method="post">
		
			<ul>
			<li><a href="#validation-step-1"><br /><small>Traveling Expenses</small></a></li>
			<li><a href="#validation-step-2"><br /><small>Conveyance  Expenses </small></a></li>
			<li><a href="#validation-step-3"><br /><small>Staying Expenses </small></a></li>

								</ul>
								<div>
								
                         <div id="validation-step-1">
									     
						<div class="form-row">
								<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
								<input id="_cr" name="_cr" type="text"value="1">
								<div class="col-sm-12" align="right">
							<!-- 	<a th:href="@{/viewMedicalReimbursement}">
								<em  class="fa fa-eye" style="font-size:28px"> 
								</em></a>&nbsp;&nbsp;&nbsp; -->
								
								
								
								<a id="add_row" class="fa fa-plus" aria-hidden="true"style="font-size:28px;color:#001080"></a>&nbsp;&nbsp;&nbsp;
								<a id='delete_row'class="fa fa-trash" style="font-size:28px;color:#399490fc"aria-hidden="true"></a>	
								</div>
														<table id="tab1" class="table table-striped display"
															style="width: 100%" aria-describedby="datatables-buttons">
															<thead>
																<tr>
																	<th>From Date</th>
																	<th>Start Place.</th>
																	<th>To Date.</th>
																	<th>Visit Place</th>

																	<th>Mode Of Travel</th>

																	<th>Ticket No</th>
																	<th>Company Paid</th>
																	<th>Self Paid</th>


																</tr>
															</thead>
															<tbody>
																<tr id='addr0'>

																	<td><input type="Date" name='medStDr0'
																		placeholder='Name' class="form-control" value="" /></td>
																	<td><input type="text" name='caseMemoNo0'
																		placeholder='Start Place' class="form-control" /></td>
																	<td><input type="Date" name='caseMemoDate0'
																		placeholder='Case Memo Date' class="form-control" /></td>
																	

																	<td><input type="text" name='passedAmount0'
																		placeholder='Vist palce' class="form-control pas" /></td>
																	<td><select class="form-control "
																		name="govtexemptionAmount0" id="govtexemptionAmount0">
																			<option value="">Select Type</option>
																			<option th:Value="taxi">Taxi</option>
																			<option th:Value="car">Car</option>
																			<option th:Value="bus">Bus</option>
																			<option th:Value="train">Train</option>
																	</select></td>


																	<td><input type="text" name='remark0'
																		placeholder='Ticket No' class="form-control" /></td>


																	<td><input type="text" name='compPaid0'
																		placeholder='Company Paid' class="form-control" /></td>
																	<td><input type="text" name='selfPaid0'
																		placeholder='Self Paid' class="form-control" /></td>
																</tr>
																<tr id='addr1'></tr>

															</tbody>
													<tr>
												<td colspan="5"></td>

												<td><label class="form-label">Total Amount</label></td>
												<td><input type="text" id="totalClaim"name='totalClaim' placeholder='Total Claim'class="form-control" /></td>
												<td><input type="text" id="totalPas" name='totalPas'placeholder='Total Pas' class="form-control" /></td>

												<td></td>

											</tr>

														</table>
													</div>
								<!-- <a id="add_row" class="fa pull-right btn btn-default ">Add Row</a><a id='delete_row' class="fa pull-right btn btn-default">Delete Row</a>	 -->
							            </div>
									</div>
												
										
									
						          	</div>
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->					          	
			<div id="validation-step-2">
							
										
											
				<div class="form-row">
								<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
								<input id="_cr2" name="_cr2" type="text"value="1">
								<div class="col-sm-12" align="right">
							<!-- 	<a th:href="@{/viewMedicalReimbursement}">
								<em  class="fa fa-eye" style="font-size:28px"> 
								</em></a>&nbsp;&nbsp;&nbsp; -->
								
								
								
								<a id="tab2_AddRow" class="fa fa-plus" aria-hidden="true"style="font-size:28px;color:#001080"></a>&nbsp;&nbsp;&nbsp;
								<a id='tab2_delete'class="fa fa-trash" style="font-size:28px;color:#399490fc"aria-hidden="true"></a>	
								</div>
														<table id="tab2" class="table table-striped display"
															style="width: 100%" aria-describedby="datatables-buttons">
															<thead>
																<tr>
																	<th>From Date</th>
																	<th>Start Place.</th>
																	<th>To Date.</th>
																	<th>Visit Place</th>

																	<th>Mode Of Travel</th>

																	<th>Amount</th>
																	


																</tr>
															</thead>
															<tbody>
																<tr id='addrtabsecond0'>

														<td><input type="Date" name='medStDr0'placeholder='Name' class="form-control" value="" /></td>
														<td><input type="text" name='caseMemoNo0'placeholder='Start Place' class="form-control" /></td>
														<td><input type="Date" name='caseMemoDate0'placeholder='Case Memo Date' class="form-control" /></td>
														<td><input type="text" name='passedAmount0'placeholder='Vist palce' class="form-control pas" /></td>
														<td><select class="form-control required"name="govtexemptionAmount0" id="govtexemptionAmount0">
																			<option value="">Select Type</option>
																			<option th:Value="taxi">Taxi</option>
																			<option th:Value="car">Car</option>
																			<option th:Value="bus">Bus</option>
																			<option th:Value="train">Train</option>
																	</select></td>

																	<td><input type="text" name='remark0'
																		placeholder='Amount' class="form-control" /></td>


																	
																</tr>
																<tr id='addrtabsecond1'></tr>

															</tbody>
															<tr>
																<td colspan="5"></td>

																<td>
					<div class="form-group ">  
					<label class="form-label">Total Amount</label>
					<input type="text" id="sum" name='totalAmount' placeholder='Total Amount' class="form-control"/>
					</div>
					</td>
			
																<td></td>

															</tr>

														</table>
													</div>
								<!-- <a id="add_row" class="fa pull-right btn btn-default ">Add Row</a><a id='delete_row' class="fa pull-right btn btn-default">Delete Row</a>	 -->
							            </div>
									</div>
							
									</div>

<!-- third ta>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.. -->
									<div id="validation-step-3">
				<div class="form-row">
				<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
								<input id="_cr3" name="_cr3" type="text"value="1">
								
								
								
								<div class="col-sm-12" align="right">
								<a id="tab3_AddRow" class="fa fa-plus" aria-hidden="true"style="font-size:28px;color:#001080"></a>&nbsp;&nbsp;&nbsp;
								<a id='tab3_delete'class="fa fa-trash" style="font-size:28px;color:#399490fc"aria-hidden="true"></a>	
								</div>
								<table id="tab3" class="table table-striped display"
															style="width: 100%" aria-describedby="datatables-buttons">
															<thead>
																<tr>
																	<th>Days</th>
																	<th>Stay Date.</th>
																	<th>Expenses</th>

																</tr>
															</thead>
															<tbody>
																<tr id='addrowthired0'>
																
																<td><input type="text" name='caseMemoNo0'placeholder='Days' class="form-control" /></td>
													         	<td><input type="Date" name='medStDr0'placeholder='Stay Date.' class="form-control" value="" /></td>
														
														
														<td><input type="text" name='caseMemoNo0'placeholder='Expenses' class="form-control" /></td>
														

																	
																</tr>
																<tr id='addrowthired1'></tr>

															</tbody>
															
														</table>
								</div>
								
							     </div>
									</div>
									 <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                     
                     
								</div>

	
	</form>
			</div>
				 
	</div>
					</div>

				</div>
		</main>
		<footer class="footer">
		<div th:replace="/fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
	<script>
		$(function() {

			$("input[name='empDob']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
		            format: 'DD/MM/YYYY'
		        },
				showDropdowns: true
			});
			
		$("input[name='dateOfPosting']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
		            format: 'DD/MM/YYYY'
		        },
				showDropdowns: true
			});
		$("input[name=\"dateOfJoining\"]").daterangepicker({
			singleDatePicker: true,
			   autoApply: true,
			locale: {
				format: 'DD/MM/YYYY'
	        },
			showDropdowns: true
		});
		$("input[name='dateOfRetirement']").daterangepicker({
			singleDatePicker: true,
		    autoApply: true,
			locale: {
				format: 'DD/MM/YYYY'
	        },
			showDropdowns: true
		});
		$("input[name='batchYear']").datepicker({
			
		    autoApply: true,
		    format: "yyyy",
		    autoclose: true,
		    minViewMode: "years",
			locale: {
	            format: 'YYYY'
	        },
			showDropdowns: true
		});
			
		
		$("input[name=\"orderDate\"]").daterangepicker({
				singleDatePicker: true,
				   autoApply: true,
				locale: {
					format: 'DD/MM/YYYY'
		        },
				showDropdowns: true
			});
		
		$("input[name=\"dov\"]").daterangepicker({
			singleDatePicker: true,
			   autoApply: true,
			locale: {
				format: 'DD/MM/YYYY'
	        },
			showDropdowns: true
		});
		$("input[name=\"doi\"]").daterangepicker({
			singleDatePicker: true,
			   autoApply: true,
			locale: {
				format: 'DD/MM/YYYY'
	        },
			showDropdowns: true
		});



			
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scroller: false,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
		
	</script>
	
		<script>
		$(function() {
			$("#smartwizard-default-primary").smartWizard({
				theme: "default",
				showStepURLhash: false
			});

			
			// Validation
			var $validationForm = $("#smartwizard-validation");
			$validationForm.validate({
				errorPlacement: function errorPlacement(error, element) {
					$(element).parents(".form-group").append(
						error.addClass("invalid-feedback small d-block")
					)
				},
				highlight: function(element) {
					$(element).addClass("is-invalid");
				},
				unhighlight: function(element) {
					$(element).removeClass("is-invalid");
				},
				rules: {
					"wizard-confirm": {
						equalTo: "input[name=\"wizard-password\"]"
					}
				}
			});
			$validationForm.smartWizard({
					autoAdjustHeight: false,
					backButtonSupport: false,
					useURLhash: false,
					showStepURLhash: false,
					
				})
				.on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
					if (stepDirection === "forward") {
						return $validationForm.valid();
					}
					return true;
				});
			/* $validationForm.find(".btn-submit").on("click", function() {
				if (!$validationForm.valid()) {
					return;
				}
				
				return false;
			}); */
		});
	</script>

	<script type="text/javascript">
		function changetextbox() {
			if (document.getElementById("onDeputation").value === "Y")

			{
				document.getElementById("empDeputation").disabled = 'true';

			} else {

				document.getElementById("empDeputation").disabled = '';
			}

		}
	</script>


	<script type='text/javascript'>
		function preview_image(event) {
			var reader = new FileReader();
			reader.onload = function() {
				var output = document.getElementById('output_image');
				output.src = reader.result;
			}
			reader.readAsDataURL(event.target.files[0]);
		}
	</script>

	<script>
		function sync() {
			var n1 = document.getElementById('empName');
			var n2 = document.getElementById('name');
			n2.value = n1.value;
		}
	</script>
	<script>
		function syncAddress() {
			var n1 = document.getElementById('address1');
			var n2 = document.getElementById('addressArms');
			n2.value = n1.value;
		}
	</script>
	<script>
 function myFunctionState(){
   $('#stateCode').click(function() {
      	 var name= $('#stateCode option:selected').text();
      	$('#state').val(name);
      	}); 
      }
      
</script>

<script>
 function myFunctionCity(){
   $('#cityCode').click(function() {
      	 var name= $('#cityCode option:selected').text();
      	$('#district').val(name);
      	}); 
      }
      
</script>



	<script>
		$('#loading').show();
		$.ajax({
			// Other ajax parameters
			success : function() {
				// hiding the image here
				debugger;
				$('#loading').hide();
			}
		});
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


</body>
</html>