<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">
<script src="js/settings.js"></script>
<script src="js/app.js"></script>

<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>
<style>
body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
<body>
<div class="wrapper" >
<nav id="sidebar" class="sidebar" aria-label="Site sidebar"> 
 <div th:replace="fragments/sidebar :: div"></div>
 </nav>
		<div class="main">
			<div th:replace="fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title">Master</h1>
						<nav aria-label="breadcrumb">
						</nav>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Create Travel Detail Master</h5>
									<div class="alert-outline">
									<div th:if="${message}" th:text="${message}" style="color: red">
									</div> 
									</div>

								</div>
								<div class="card-body">
									<form id="validation-form" action="#" th:action="@{/saveTravel}" th:object="${travel}" method="post">
										<div class="row">
											<div class="col-12 col-lg-6">
											<div class="form-group">
											  <label> Travel  Code </label>
											  	<label style="color: red">*</label>
											      <input type="text" class="form-control" title="Travel Code Code" id="travelCode"maxlength="10" name="travelCode" readonly>
											</div>
										 <div class="form-group">
												<label class="form-label">Vist City Name</label>
												<label style="color: red">*</label>
												<select class="form-control select2"onchange="myvistFunction()" name="visitCityCode"id="visitCityCode" required aria-required="true">
												 <option value="">Select City</option>
												<option th:each="city :${cityMaster}" th:value="${city.getCityCode()}" th:text="${city.getCityName()}"></option>
											     	</select>
											     
											   <input type="hidden" class="form-control" id="visitCityName" name="visitCityName" size="50" > 
											</div>
									        
											

										<div class="form-group">

													<label class="form-label">Status</label>
													<div class="custom-controls-stacked">

														<label class="radio-inline"> <input type="radio"
															value="Y" name="active" checked> Active
														</label> <label class="radio-inline"> <input type="radio"
															value="N" name="active"> Inactive
														</label>

													</div>
												</div>
										
											
											</div>
											
											
											<div class="col-12 col-lg-6">
											
											  <div class="form-group">
												<label class="form-label">Start City Name</label>
												<label style="color: red">*</label>
												<select class="form-control select2"onchange="myFunction()" name="strtCityCode"id="strtCityCode" required aria-required="true">
												 <option value="">Select City</option>
												<option th:each="city :${cityMaster}" th:value="${city.getCityCode()}" th:text="${city.getCityName()}"></option>
											     	</select>
											     
											   <input type="hidden" class="form-control" id="strtCityName" name="strtCityName" size="50" > 
											</div>
										
								
											</div>
										</div>
										<button type="submit" class="btn btn-primary">Save</button>
								 <button type="reset"class="btn btn-primary" value="Reset">Reset</button>
									</form>
								</div>
							</div>
						</div>
						 <div class="col-12">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
									<table id="datatables-buttons"aria-describedby="datatables-buttons" class="table table-striped display" style="width:100%">
										<thead>
											<tr>
											
												<th scope="col">Travel  Code</th>
												<th scope="col">Start City Code </th>
												<th scope="col">Start City Name </th>
												<th scope="col">Vist City Code</th>
												<th scope="col">Vist City Name</th>
												<th scope="col">Status</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr  th:each="listOfTravel : ${listTravel}">
												<td th:text="${listOfTravel.travelCode}"></td>
												<td th:text="${listOfTravel.strtCityCode}"></td>
												<td th:text="${listOfTravel.strtCityName}"></td>
												<td th:text="${listOfTravel.visitCityCode}"></td>
												<td th:text="${listOfTravel.visitCityName}"></td>
												<td th:text="${listOfTravel.active}"></td>
												
												<td><a th:href="@{/editTravel/{id}(id=${listOfTravel.travelCode})}"><em class="fa fa-edit"></em></a>
												<a th:href="@{/deleteTravel/{id}(id=${listOfTravel.travelCode})}" onclick="return confirm('Are you sure?')"><em class="fa fa-times"></em></a>
												</td>
											</tr>
										</tbody>
									
									</table>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>

			</main>
		<footer class="footer">
		<div th:replace="fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
	<script>
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scroller: false,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>
	<script>
 function myFunction(){
    	  $('#strtCityCode').click(function() {
      	 var name= $('#strtCityCode option:selected').text();
      	$('#strtCityName').val(name);
      	}); 
      }
      
</script>	
	<script>
        function myvistFunction(){
    	  $('#visitCityCode').click(function() {
      	 var name= $('#visitCityCode option:selected').text();
      	$('#visitCityName').val(name);
      	}); 
      }
      
</script>	

	
	
		
</body>
</html>