<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">
<script src="js/settings.js"></script>
<script src="js/app.js"></script>

<script  src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>
<style>
body {
	opacity: 0;
}
.uppercase {
  text-transform: uppercase;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
</head>
<body>
<div class="wrapper">
<nav id="sidebar" class="sidebar"aria-label="Site sidebar">
 <div th:replace="fragments/sidebar :: div"></div>
 </nav>
		<div class="main">
			<div th:replace="fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title"></h1>
						<nav aria-label="breadcrumb">
						</nav>
					</div>
						<form id="validation-form" action="#" th:action="@{/saveMedicalReimbursement}" th:object="${medicalReimbursement}" method="POST">
					<div class="row">
					
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title"> View And Update Medical Reimbursement </h5>
								<div class="alert-outline">
									<div th:if="${message}" th:text="${message}" style="color: red">
									</div> 
									</div>	
								</div>
							<div class="card-body">
									
										<div class="row">
											<div class="col-12 col-lg-6">
											<div class="form-group">
												<label class="form-label">Slip No</label>
												<label style="color: red">*</label>
												<select class="form-control select2" name="slipNo"id="slipNo"onchange="myFunctionSlipNo()" required aria-required="true">
												 <option value="">Select Slip No</option>
												<option th:each="users: ${listMedicalReimbursement}" th:value="${users.getSlipNo()}" th:text="${users.getSlipNo()}"></option>
											     	</select>
											</div>
												
											
											<div class="form-group">
												<label class="form-label">Employee Code</label>
												<label style="color: red">*</label>
												<select class="form-control select2"onchange="myFunction()" name="empCode"id="empCode" required aria-required="true">
												 <option value="">Select Employee</option>
												<option th:each="e :${listEmployee}"th:value="${e.getEmpCode()}" th:text="${e.getEmpName()}"></option>
											     	</select>

											     	 
											</div>
											
											
											<div class="form-group">
													<label class="form-label">Relation</label> 
													 <select
														class="form-control required" name="empRelation" id="empRelation">
														<option value="">Select Relation</option>
														<option value="S">Self</option>
														<option value="F">family</option>
														
														
													</select>
												</div>
												
												
												
												<div class="form-group">
													<label class="form-label">Treatment Type</label> 
													 <select
														class="form-control required" name="treatmentType" id="treatmentType">
														<option value="">Select Type</option>
														<option value="O">Operations</option>
														<option value="H">Hospital</option>
														<option value="D">Dental </option>
														
														
													</select>
												</div>
						
											<div class="form-group ">
													<label class="form-label">Claiming Date</label> <span
														class="text-danger">*</span> 
														<input class="form-control required" type="text"id="claimingDate"name="claimingDate"required aria-required="true"/>

												</div>

												
												
						
											</div>
											<div class="col-12 col-lg-6">
												<div class="form-group">
											  <label> Slip  Date </label>
											  	<label style="color: red">*</label>
											   <input type="text" class="form-control" id="dateOfSlip" name="dateOfSlip"required aria-required="true"/>
												</div>
											
											<div class="form-group">
													<label class="form-label">Name Of Person</label> <label style="color: red">*</label>
														
														 <input Type="text" class="form-control"name="nameOfPerson" id="nameOfPerson"required aria-required="true">

												</div>
												
												
													
											<div class="form-group">
													<label class="form-label">Indoor/Outdoor</label> 
													 <select
														class="form-control required" name="medIndOut" id="medIndOut">
														<option value="">Select Type</option>
														<option value="I">Indoor</option>
														<option value="O">Outdoor</option>
														
														
													</select>
												</div>
												
												<div class="form-group">
										
													<label class="form-label">Description</label> <label style="color: red">*</label>
														
														 <input Type="text" class="form-control"name="treatDescription" id="treatDescription"required aria-required="true">

												</div>
												
											</div>
										</div>
										
									
								</div>
							</div>
						</div>
						
						
						<div class="col-12">
							
						</div>
						
					</div>
				</form>
				</div>

			</main>
		<footer class="footer">
		<div th:replace="fragments/footer :: div"></div>
		</footer>
		</div>
		</div>
	
		<script>
	$(document).ready(function() {
	    $('#datatables-buttons').DataTable( {
	        "scrollY": 200,
	        "scrollX": true,
	        deferRender:true,
            scrollCollapse: true,
            
	    } );
	} );
	$("input[name='dateOfSlip']").daterangepicker({
		singleDatePicker: true,
	    autoApply: true,
		locale: {
			  format: 'YYYY/MM/DD'
        },
		showDropdowns: true
	});
	
	
	$("input[name='claimingDate']").daterangepicker({
		singleDatePicker: true,
	    autoApply: true,
		locale: {
			  format: 'YYYY/MM/DD'
        },
		showDropdowns: true
	});
	
	</script>
	
	<script>
	function myFunctionSlipNo(){
		 var slipNo= $('#slipNo option:selected').text();
		
	    console.log("ajax request : "+ slipNo);
	    const xhr = new XMLHttpRequest();
	    xhr.open('GET','/medicalReimbursementViewDetails/'+slipNo,true);
	    xhr.getResponseHeader('content-type','application/json');
	    xhr.onload = function(){
	        if(this.status===200){
	            let obj = JSON.parse(this.responseText);
	            console.log(obj);empCode
	            $('#dateOfSlip').val(obj.dateOfSlip);
				$('#nameOfPerson').val(obj.nameOfPerson);
				$('#empCode').val(obj.empCode);
				
	        }
	        else{
	            console.error("some error occured");
	        }
		
	    }
	    xhr.send();
	}

	
	
	</script>
	
		
</body>
</html>